<!-- <app-user-state></app-user-state> -->
<div id="header" class="wrap">
  <div id="intro">
    <a class="goto-main" routerLink="/">
  <img class="logo" src="assets/image/care-logo-black.png">
  </a>
  </div>
  <button id="mobile-switch" (click)="nav_switch = !nav_switch">
    메뉴
</button>
  <div id="root-nav" [ngClass]="{hide : !nav_switch}">
    <ul>
      <li *ngIf="router.url != '/'">
        <a routerLink="/">
          <i class="fonti um-home-alt"></i>
          <span>홈</span>
        </a>
      </li>
      <li *ngIf="router.url == '/'">
        <a (click)="slideTo('#_intro')">
          <i class="fonti um-check-square-o-alt"></i>
          <span>인증하기</span>
        </a>
      </li>
      <li *ngIf="router.url == '/'">
        <a (click)="slideTo('#_warranty')">
          <i class="fonti um-info-circle"></i>
          <span>서비스안내</span>
        </a>
      </li>
      <li *ngIf="router.url == '/'">
        <a (click)="slideTo('#_qna')">
          <i class="fonti um-qna-o"></i>
          <span>Q&A</span>
        </a>
      </li>
      <li *ngIf="!session._info.division">
        <a routerLink="/login">
          <i class="fonti um-user-cheak"></i>
          <span>로그인</span>
        </a>
      </li>
      <li *ngIf="session._info.division == 'GUEST' || session._info.division == 'FACEBOOK' || session._info.division == 'NAVER'">
        <a routerLink="/serial/list">
          <i class="fonti um-paperclip"></i>
          <span>제품관리</span>
        </a>
      </li>
      <li *ngIf="session._info.division == 'GUEST' || session._info.division == 'FACEBOOK' || session._info.division == 'NAVER'">
        <a routerLink="/my/info">
        <i class="fonti um-cog"></i>
        <span>내정보</span>
      </a>
      </li>
      <li *ngIf="session._info.division == 'GUEST' || session._info.division == 'FACEBOOK' || session._info.division == 'NAVER'">
        <a href="/api/user/session/destroy">
          <i class="fonti um-user-minus"></i>
          <span>로그아웃</span>
        </a>
      </li>
    </ul>
  </div>
</div>