:host{
    position: relative;
    display: block;
    width: 100%;
    /* height: 9.8125rem; */
    height: auto;
    background-color: rgb(246, 246, 246);
    /*border-bottom: 1px solid #d1d8e4;*/
}

#header{
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: flex-end;
          align-items: flex-end;
  -webkit-justify-content: space-between;
          justify-content: space-between;
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}

#intro{
    position: relative;
    float: left;
    display: block;
    padding: 1rem 0.625rem;
    max-width: 27.125rem;
    width: 50%;
}

#intro img.logo{
    max-width: 100%;
}

#intro a.goto-main{
    display: inline-block;
    text-decoration: none;
    color: #333;
    border-bottom: none;
}

#root-nav{
    position: relative;
    float: left;
    display: block;
    /*width: calc(100% - 27.125rem);*/
    width : 50%;
    padding: 0 0.625rem 1rem 0;
}

#root-nav ul{
    display: flex;
    display: -webkit-flex;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
    height: auto;
    justify-content: flex-start;
}
#mobile-switch{
    display: none;
}
@media all and (max-width: 1100px){
    #root-nav ul{
        padding: 0 1%;
    }
}

#root-nav ul > li{
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 1rem;
    width: 5rem;
    /*width: calc(100% / 3);*/
}

#root-nav ul > li > a{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    /* font-size: 1.25rem; */
    color: #111;
    border-bottom: none;
    text-align: center;
}

#root-nav ul> li:hover > a{
    color: #ff1b51;
}
#root-nav ul > li > a > i{
    font-size: 1.3rem;
}
#root-nav ul > li > a > span{
    display: block;
    text-align: center;
    font-size: 0.825rem;
    font-weight: 300;
    margin-top: 0.3rem;
}

@media all and (max-width: 540px){
    :host{
        height: auto;
    }
    #header{
        display: block;
        height: auto;
    }
    #intro{
        float: left;
    }
    #mobile-switch{
        display: inline-block;
        float: right;
        vertical-align: text-bottom;
        margin-top:1.7rem;
    }
    #root-nav{
        display: block;
        width: 100%;
    }
    #root-nav.hide{
        display: none;
    }
    #root-nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #root-nav ul > li{
        display: inline-block;
        flex-shrink: 0;
        flex: 3.5rem;
    }
}