<footer class="wrap">
  <div id="sitemap">
    <strong>사이트맵</strong>
    <ul>
    <li><a routerLink="/">서비스소개</a></li>
    <li><a routerLink="/login">로그인</a></li>
    <li><a routerLink="/serial/valid">제품인증</a></li>
    <li><a routerLink="document/clause">이용약관</a></li>
    <li><a routerLink="document/privacy_policy">개인정보처리방침</a></li>
    <li><a routerLink="document/qna">고객문의</a></li>
  </ul>
  <!-- <div class="info">
    <strong>입금계좌</strong>
    <p>결제 시 [무통장입금/계좌이체]를 선택하신 경우 아래 계좌로 입금해주시기 바랍니다.</p>
    <p>312-0148-0404-41(농협/윤영주)</p>
  </div> -->
  </div>
  <hr>
  <div id="company-info">
    <!-- <img class="logo" src="assets/image/funclass-logo.png"> -->
    <p>사업자 : 펀클래스(FUNCLASS)</p>
    <p>사업자번호 : 540-55-00037</p>
    <p>통신판매업신고 : 제2016-서울영등포-1580호</p>
    <p>사업주 : 윤영주</p>
    <p>개인정보관리 책임자 : 윤영주</p>
    <p>소재지 : 서울시 마포구 서강로9길 59</p>
    <p>대표전화 : <a href="tel:07078140007">070-7814-0007</a></p>
  </div>
</footer>