:host{
    display: block;
    border-top: 1px solid #d1d8e4;
    background-color: #f2f4f7;
    overflow: hidden;
    padding: 0.9375rem 0;
}

#sitemap{
    display: block;
    margin: 0;
    padding: 1.25rem 0.625rem;
}
#sitemap strong{
    display: block;
}
#sitemap ul{
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

#sitemap li{
    display: inline-block;
    list-style: none;
    font-size: 0.75rem;
    margin: 0.25rem;
    padding: 0;
}
#sitemap li:first-of-type{
    margin-top: 0;
}
#sitemap li:last-of-type{
    margin-bottom: 0;
}

#sitemap li a{
    margin: 0;
    font-size: 0.75rem;
}

#sitemap .info{
    padding: 0.5rem;
}
#sitemap .info strong,
#sitemap .info p{
    font-size: 0.75rem !important;
    margin-top: 0;
}

#company-info{
    display: block;
    padding: 1.25rem 0.625rem;
    border-left: 1px solid #f1f3f6;
}

#company-info .logo{
    max-width: 90%;
    width: 9.375rem;
}

#company-info p{
    display: inline-block;
    margin: 0.25rem;
    font-size: 0.8rem;
    color: #777;
}