:host{
    display: block;
    overflow: auto;
    background-color: #fff;
    min-height: calc(100% - 9.8125rem);
}

#my-serial-list{

}
#my-serial-list > ul{
    margin: 0;
    padding: 0;
}
#my-serial-list > ul > li{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}
#my-serial-list > ul > li:hover{
    -webkit-transtion: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.2);
}
#new-pkey{
    text-align: center;
    margin: 10rem 0;
}