<div class="wrap">
<section id="my-serial-list">
<h2>내 제품 목록</h2>
<hr>
<ul *ngIf="_list.length > 0">
  <li *ngFor="let _p of _list">
    <app-product [pkey]="_p"></app-product>
  </li>
</ul>
<div class="info" *ngIf="_list.length == 0">
  <strong>아직 등록한 제품이 없습니다.</strong>
  <p>아래의 [제품키 인증하고 등록하기] 버튼을 눌러 정품여부를 확인하고, 구매영수증을 업로드 해 주세요.</p>
</div>
</section>
<!--<section id="new-pkey">
  <hr>
  <strong>새로운 제품키를 등록하시겠습니까?</strong>
  <div class="options">
    <a [routerLink]="['/serial','valid']">제품키 인증하고 등록하기</a>
  </div>
</section>-->
<section class="help">
  <strong>새로운 제품키를 등록하시겠습니까?</strong>
  <div class="options">
    <a [routerLink]="['/serial','valid']">제품키 인증하고 등록하기</a>
  </div>
</section>
</div>