<div class="wrap">
  <section>
    <h2>개인정보 수집/이용 동의</h2>
    <hr>
    <dl>
      <dt>개인정보의 수집·이용목적</dt>
      <dd>결제정보 관리</dd>
    </dl>
    <dl>
      <dt>수집하려는 개인정보의 항목</dt>
      <dd>성명, 전화번호, 주소(실물상품 구매시), 이메일</dd>
    </dl>
    <dl>
      <dt>개인정보의 보유 및 이용기간(근거법률)</dt>
      <dd>
        <p>
          거래기록 : 5년(전자상거래 등에서의 소비자 보호에 관한 법률)
        </p>
      </dd>
    </dl>
    <dl>
      <dt>미동의 가능여부</dt>
      <dd>동의를 거부할 수 있으며, 동의 거부시 사운드픽케어 보증서비스가 제공되지 않습니다.</dd>
    </dl>
  </section>
  <hr>
  <section>
    <h2>개인정보 제3자 제공에 대한 별도 동의</h2>
    <hr>
    <dl>
      <dt>개인정보를 제공받는 자</dt>
      <dd>LGU+ 전자결제</dd>
    </dl>
    <dl>
      <dt>개인정보를 제공받는 자의 개인정보 이용 목적</dt>
      <dd>결제정보관리</dd>
    </dl>
    <dl>
      <dt>제공하는 개인정보의 항목</dt>
      <dd>성명, 전화번호, 이메일, 결제기록</dd>
    </dl>
    <dl>
      <dt>개인정보를 제공받는 자의 개인정보 보유 및 이용 기간</dt>
      <dd>제공 후 5년</dd>
    </dl>
    <dl>
      <dt>미동의 가능여부</dt>
      <dd>동의를 거부할 수 있으며, 동의 거부시 사운드픽케어 보증서비스가 제공되지 않습니다.</dd>
    </dl>
  </section>
</div>