<ul>
  <li>
    <a routerLink="info">
      <figure>
        <img>
        <figcaption>
          내정보
        </figcaption>
      </figure>
    </a>
  </li>
  <li>
    <a routerLink="/care/manage">
    <figure>
      <img>
      <figcaption>
        등록상품관리
      </figcaption>
    </figure>
    </a>
  </li>
  <li>
    <a routerLink="/care/call/state">
      <figure>
        <img>
        <figcaption>서비스진행현황</figcaption>
      </figure>
    </a>
  </li>
  <li>
    <a href="/user/logout">
      <figure>
        <img>
        <figcaption>로그아웃</figcaption>
      </figure>
    </a>
  </li>
</ul>