<div class="wrap">
<h2>내정보</h2>
<hr>
<form id="user-info">
  <figure id="_thumbnail">
    <img src="{{session._info.profile_image}}">
    <figcaption>facebook</figcaption>
  </figure>
  <div id="_profile">
    <strong>{{session._info.name}} 고객님</strong>
    <!--<dl>
      <dt>전화번호</dt>
      <dd><input type="text" name="phone" placeholder="'-' 없이 입력"></dd>
    </dl>-->
    <dl>
      <dt>이메일</dt>
      <dd>{{session._info.email}}</dd>
    </dl>
    <!--<dl>
      <dt>주소</dt>
      <dd class="_address-input">
        <input type="text" name="postcode" placeholder="00000" disabled>
        <button class="_find-postcode" (click)="loadPostcodePage()">우편번호찾기</button>
        <input type="text" name="province" placeholder="서울특별시 영등포구 당산동3가" disabled>
        <input type="text" name="avenue" placeholder="72-1 406호">
      </dd>
    </dl>-->
  </div>
  <div class="options">
    <!--<button class="_next">수정</button>-->
    <!--<button class="_basic" (click)="withdrawal()">회원탈퇴</button>-->
  </div>
</form>
<div class="info">
  <strong>비회원으로 등록한 제품번호를 이 계정으로 통합</strong>
  <p>비회원으로 등록한 제품번호를 이 계정으로 통합하는 기능이 준비중입니다. 수동으로 정보 통합이 필요하신 분은 고객문의를 통해 문의해주시기 바랍니다.</p>
  <p>(2017년 8월 기능 추가 예정)</p>
</div>
</div>