:host{
    display: block;
    background-color: #fff;
    overflow: auto;
    min-height: calc(100% - 9.8125rem);
}
#user-info{
    display: block;
    /*border : 0.0625rem solid #999;*/
    /*padding: 1.875rem;*/
    overflow: hidden;
    text-align: center;
}
#user-info > figure#_thumbnail{
    display: block;
    width : 20rem;
    max-width: 100%;
    float: left;
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
}
#user-info > #_thumbnail > img{
    width: 100%;
    border-radius: 50%;
}
#user-info > #_thumbnail > figcaption{

}
#user-info > #_profile{
    display: block;
    width : calc(100% - 20rem);
    min-width: 320px;
    float: left;
    padding: 3rem;
    text-align: left;
    margin: 0 auto;
}
#user-info > #_profile > strong{
    display: block;
    font-size: 1.875rem;
    margin-bottom: 1.875rem;
}
#user-info > #_profile input{
    height: 2.95rem;
}
#user-info > #_profile > dl{
    display: block;
    text-align: left;
}
#user-info > #_profile > dl > dt{
}
#user-info > #_profile > dl > dd{
}

#user-info > #_profile input[type=text]{
    border: none;
    border-bottom: 1px solid #999;
    font-size : 1.125rem;
}

._address-input{
    display: block;
    width: 100%;
}
._address-input > input[name=postcode]{
    width: 10rem;
}
._address-input > ._find-postcode{
    width: 10rem;
    border: none;
    background-color: transparent;
    color: #111;
    border-bottom: 1px solid #111;
    border-radius: 0;
    margin: 0;
}
._address-input > input[name=province]{
    display: block;
    width: 100%;
    max-width: 30rem;
}
._address-input > input[name=avenue]{
    display: block;
    width: 100%;
    max-width: 30rem;
}

.options{
    float: left;
    display: block;
    width: 100%;
    text-align: center;
}