<form class="wrap">
  <div id="serial-number">
    <div class="input-with-button">
    <input pkey type="text" placeholder="제품번호를 입력해주세요." maxlength="19"
  [(ngModel)]="_string_serial" [ngModelOptions]="{standalone:true}" 
  [ngClass]="{disabled : _is_posted && _is_valid}" 
  (isFullTyped)="isFullyTyped($event)">
      <button (click)="valid()" *ngIf="!_is_posted" 
      [ngClass]="{'active' : _is_fully_typed}" 
      [disabled]="!_is_fully_typed">
        <i class="fonti um-circle-o"></i>
      </button>
    </div>
    <div id="_posting" *ngIf="_is_loading">
      <span>제품번호를 확인중입니다.</span>
    </div>
    <div id="_valid" *ngIf="_is_posted && _is_valid">
      <span>인증에 성공하였습니다.</span>
      <button (click)="init()">
        <i class="fonti um-repeat-bold"></i>
      </button>
    </div>
    <div id="_invalid" *ngIf="_is_posted && !_is_valid">
      <span>인증에 실패하였습니다.</span>
      <button (click)="retype()">
        <i class="fonti um-close"></i>
      </button>
    </div>
  </div>
</form>