
#serial-number{
    display: block;
    position: relative;
    width : 90%;
    margin: 5%;
}

#serial-number .input-with-button{
    width: 100%;
    position: relative;
    display: inline-block;
}

#serial-number #_valid,
#serial-number #_posting,
#serial-number #_invalid
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#serial-number #_valid span,
#serial-number #_invalid span,
#serial-number #_posting span
{
    display: block;
    font-size: 1.5rem;
    text-align: center;
    background-color: #ff1b51;
    border: 0.25rem solid #ff1b51;
    border-radius: 2.75rem;
    padding: 1.5rem;
    width: 100%;
    color: #fff;
}

#serial-number #_valid button,
#serial-number #_invalid button
{
    color: #fff;
    position: absolute;
    background-color: transparent;
    width: 2.25rem;
    height: 2.25rem;
    top: 1.625rem;
    right: 1.625rem;
    padding: 0;
    margin: 0;
    overflow: visible;
    border: none;
    border-bottom: none;
    box-shadow: none;
}

#serial-number #_valid button i,
#serial-number #_invalid button i
{
    vertical-align: top;
    font-size: 1.625rem;
    margin: 0.125rem;
    overflow: visible;
}

.input-with-button input[type=text]{
    position: relative;
    border: 0.25rem solid #ff1b51;
    color: #ff1b51;
    font-size: 1.25rem;
    text-align: center;
    background-color: transparent;
    border-radius: 2.75rem;
    width: 100%;
    height: 5.5rem;
    font-size: 1.875rem;
    padding-right: calc(2.25rem + 1.62rem);
}

.input-with-button input[type=text]::-webkit-input-placeholder,
.input-with-button input[type=text]::-moz-input-placeholder,
.input-with-button input[type=text]:-ms-input-placeholder,
.input-with-button input[type=text]:-moz-placeholder{
    color : #ff1b51;
}

.input-with-button input[type=text].disabled{
    pointer-events:none;
    tab-index: -1;
}

.input-with-button button{
    position: absolute;
    color: gray;
    background-color: transparent;
    width: 2.4rem;
    height: 2.4rem;
    top: 1.625rem;
    right: 1.625rem;
    padding: 0.125rem;
    margin: 0;
    font-size: 2.25rem;
    border-bottom: none;
}

strong.help{
    display: block;
    text-align: center;
    color: #111;
    font-size: 1.5rem;
    font-weight: 200;
}
strong.help > a{
}

.input-with-button i{
    vertical-align: top;
}

.input-with-button button.active{
    color: #ff1b51;
    transition: 0.5s;
}