<section>
<figure>
  <img src="http://static.soundpick.net/product/thumbnail/{{pkey.product.thumbnail_url}}">
  <figcaption>
    <a [routerLink]="['/serial','info', pkey.pkey_id]">정보보기</a>
  </figcaption>
</figure>
<div class="prod-info">
 <h4>
   {{pkey.product.brand + ' ' + pkey.product.name + ' ' + pkey.product.model}}
  </h4>
 <strong>{{pkey.category + '-' +  pkey.aver_min + '-' + pkey.aver_max + '-' + pkey.unique_serial + pkey.validation_number}}</strong>
 <dl>
    <dt>케어타입</dt>
    <dd *ngIf="pkey.care.wrty_type">
      <caretype [typestr]="pkey.care.wrty_type"></caretype>
    </dd>
    <dd *ngIf="!pkey.care.wrty_type">
      <span>미등록<small>(영수증을 업로드하여 인증해주세요)</small></span>
    </dd>
 </dl>
 <dl *ngIf="pkey.care.wrty_type && pkey.care.wrty_type != 'INVALID'">
   <dt>보증기간</dt>
   <dd>
     <pydate [datestr]="pkey.care.wrty_len.s_date"></pydate>부터 
     <pydate [datestr]="pkey.care.wrty_len.e_date"></pydate>까지
     </dd>
 </dl>
</div>
</section>