:host{
    width: 100%;
    margin: 0.625rem 0;
    overflow: hidden;
}
section{
    display: block;
    width: 100%;
    overflow: hidden;
}
figure{
    float: left;
    width: 12rem;
    vertical-align: top;
    margin: 0;
    padding: 1.33rem 1.33rem 1.33rem 0;
}
figure > img{
    width: 100%;
}
figure > figcaption{
    text-align: center;
}
div.prod-info{
    float: left;
    width: calc(100% - 12rem);
    vertical-align: top;
}
div.prod-info > h4{
    
}
div.prod-info > strong{
    
}

div.prod-info > div.options{
    border-top : 0.0625rem solid #999;
    margin: 0.5rem;
}