<dl>
  <dt>SoundPick CARE 구매 약관 동의</dt>
  <dd>
    <div>
      <div class="clause-box">
<dl>
<dt>제1조(목적)</dt>
<dd>
<p>본 약관은 펀클래스 회사(이하 "회사"라 합니다)의 제품보증관리 인터넷 사이트인 사운드픽케어(care.soundpick.net)를 이용하는데 따른 이용 조건 및 절차 등을 규정함을 목적으로 합니다.</p>
</dd>
</dl>
<dl>
<dt>제2조(약관의 명시, 효력 및 변경 등)</dt>
<dd>
<p>① 본 약관은 구매 서비스를 이용하고자 하는 모든 이용자에 대해서 그 효력이 발생합니다.</p>
<p>② 본 약관의 내용은 상품 구매를 위한 결제 화면에 게시하거나 기타의 방법으로 이용자에게 공시하고, 이용자가 이에 동의를 함으로써 효력이 발생합니다.</p>
<p>③ 회사는 필요하다고 인정되는 경우 본 약관을 변경할 수 있으며, 회사가 약관을 변경할 경우에는 적용일자 및 변경사유를 명시하여 제2항과 같은 방법으로 그 적용일자 7일 전부터 공지합니다. 다만, 이용자에게 불리한 약관의 변경인 경우에는 그 적용일자 30일 전부터 공지하며, e-mail, SMS 등으로 이용자에게 개별 통지합니다. (이용자의 연락처 미기재, 변경 등으로 인하여 개별 통지가 어려운 경우에 한하여 이 사이트에 변경 약관을 공지함으로써 개별 통지 한 것으로 간주합니다.)</p>
<p>④ 회사가 제3항에 따라 변경 약관을 공지 또는 통지하면서, 이용자가 약관 변경 적용일까지 거부의사를 표시하지 아니할 경우 약관의 변경에 동의한 것으로 간주한다는 내용을 공지 또는 통지하였음에도 이용자가 명시적으로 변경된 약관의 효력 발생일까지 약관 변경에 대한 거부의사를 표시하지 아니하면, 이용자가 변경 약관에 동의한 것으로 간주합니다. 이용자는 변경된 약관에 동의하지 않을 경우 구매 서비스 이용을 중단하고 이용 계약을 해지할 수 있습니다.</p>
<p>⑤ 본 약관에 동의하는 것은 회사가 운영하는 사운드픽케어 사이트를 정기적으로 방문하여 약관의 변경사항을 확인하는 것에 동의함을 의미합니다. 변경된 약관에 대한 정보를 알지 못하여 발생하는 이용자의 피해에 대하여 회사는 책임이 없습니다.</p>
<p>⑥ 본 약관에 명시되지 아니한 사항은 사운드픽케어 이용 약관 규정에 따릅니다.</p>
</dd>
</dl>
<dl>
<dt>제3조(약관의 명시, 효력 및 변경 등)</dt>
<dd>
<p>① 본 약관에 명시되지 않은 사항은 전자상거래 등에서의 소비자보호에 관한 법률 등 관련 법령의 규정과 일반 상관례에 의합니다.</p>
<p>② 회사는 필요한 경우 구매 서비스 이용과 관련된 세부적인 내용(이하 "이용정책"이라 함)을 정하여 이를 사운드픽케어 홈페이지를 통하여 공지할 수 있습니다.</p>
<p>③ 이용정책의 변경이 있을 경우 회사는 변경 내용의 효력발생일 7일 이전에 해당 변경 사항을 공지합니다.</p>
</dd>
</dl>
<dl>
<dt>제4조(용어의 정의)</dt>
<dd>
<p>① 본 약관에서 사용하는 용어의 정의는 다음과 같습니다.</p>
<p>“상품”이란 “사운드픽케어” 내에서 거래의 대상이 되는 쿠폰 및 코드 형태로 발급되는 디지털 상품에 대한 재화 또는 서비스를 말합니다.</p>
<p>“이용자”란 사운드픽케어에 접속하여 본 약관에 동의하고, 사운드픽케어를 이용하는 고객을 말하며 “이용자”는 “회원”과 “회원”으로 가입하지 않은 이용자(이하 “비회원”이라 합니다)를 포함합니다.</p>
<p>“회원”이란 이용자 중 소셜로그인 기능을 이용하여 회사에게 이용자 본인이 SNS상에 기재한 본인의 인적사항을 회사에게 제공하는데에 동의한 고객을 말합니다.</p>
<p>“비회원 구매”란 사운드픽케어에 회원으로 가입하지 않은 이용자로서, 이동전화번호 입력만으로 본인확인 후 사운드픽케어 사이트에 접속하여 본 약관에 동의하고, 필요한 정보를 입력하여 상품을 구매하는 행위, 또는 “회원”이 사운드픽케어에 로그인하지 않은 상태에서 상품을 구매하는 행위를 말합니다.</p>
<p>“ID(고유번호)”란 회원의 식별과 회원의 서비스 이용을 위하여 소셜로그인 기능을 제공하는 회사에서 발급한 고유번호(unique ID)를 의미하며, 회원 1인당 하나의 ID만 전송에 동의하여 이용이 가능합니다.</p>
<p>“Password(비밀번호)”란 회원의 정보보호를 위해 회원 자신이 설정하여 소셜로그인 기능을 제공하는 회사에 등록한 문자와 숫자의 조합을 말합니다.</p>
<p>“운영자”란 사운드픽케어에 제공하는 구매 서비스의 전반적인 관리와 원활한 운영을 위해 회사에서 선정한 자를 말합니다.</p>
<p>“구매자”란 구매 서비스에 등록된 판매자의 상품을 구매하는 이용자를 말합니다.</p>
<p>“본인확인”이란 회원의 회원 가입 시, 또는 비회원 구매 시 기록한 이용자의 성명과 이동전화번호, 사업자는 상호명과 사업자등록번호의 일치 여부를 확인하는 절차를 말합니다.</p>
<p>“영업일”이란 회사가 정상적으로 구매 서비스를 제공하는 날로서 토요일, 일요일 및 법정 공휴일을 제외한 날을 말합니다.</p>
<p>② 제1항에서 정의되지 아니한 본 약관상의 용어의 의미는 사운드픽케어 이용약관에 의하고 그 이외의 사항은 관계법령 또는 일반적인 거래관행에 의합니다.</p>
</dd>
</dl>
<dl>
<dt>제5조(구매 서비스 이용)</dt>
<dd>
<p>① 운영자는 상품의 품절 또는 기술적 사양의 변경 등의 경우에는 판매할 상품의 내용을 변경할 수 있습니다. 이 경우에는 변경된 상품의 내용 및 제공일자를 명시하여 현재의 상품의 내용을 게시한 곳에 즉시 공지합니다.</p>
<p>② 회사의 화면에서 링크, 배너 등을 통하여 연결된 회사(이하 피연결회사)와 회원간에 이루어진 거래에 회사는 개입하지 않으며, 해당 거래에 대하여 책임을 지지 않습니다.</p>
</dd>
</dl>
<dl>
<dt>제6조(상품의 구매 절차)</dt>
<dd>
  <p>상품의 구매는 다음 각 호의 절차와 방법으로 이루어 집니다.</p>
<p>1. 구매계약 체결 방식</p>
<p>구매자가 사운드픽케어에서 상품을 선택한 후 (비회원의 경우 본인확인 절차를 거쳐) 아래 제2호의 대금결제 수단을 통해 대금결제를 완료하면 운영자의 승낙에 의해 구매계약이 체결됩니다.</p>
<p>2. 대금결제</p>
<p>가. 구매자가 상품을 구매할 때 사용할 수 있는 결제 수단은 신용카드와 실시간 계좌이체, 무통장입금 등이 있습니다.(단, 전자상품권을 구매할 때는 여신전문금융업법 등 관련 법령에 따른 신용카드 결제 제한 조건에 의해 신용카드 결제가 제한될 수 있습니다.)</p>
<p>나. 회사는 구매자가 일정액 이상의 상품을 구매할 경우 본인확인을 위해 구매자에게 공인인증서 또는 이에 준하는 개인정보 확인 절차를 요구할 수 있습니다.</p>
<p>3. 구매계약 체결 결과 처리</p>
<p>회사 또는 판매자는 구매 서비스를 통한 상품의 구매계약 체결 완료 후, 구매자에게 구매계약 체결 사실 및 구매 내용을 e-mail이나 전화 또는 휴대폰(SMS)을 통하여 통지합니다.</p>
<p>4. 배송</p>
<p>가. 사운드픽케어에서 제공하는 상품 중 배송의 소요가 발생하는 상품을 구매했을 경우, 배송 소요기간은 상품 구매계약 체결일 익일을 기산일로 하여, 운영자가 구매자에게 상품을 배송하기까지의 기간을 말합니다. (단, 전자상품권 등 쿠폰 또는 코드로 발행되는 상품의 경우 해당 쿠폰 또는 코드가 구매자에게 도달 또는 전송되기까지의 기간을 의미합니다.)</p>
<p>나. 공휴일 및 기타 휴무일에는 배송되지 않으며, 천재지변 등 불가항력적인 사유 발생시 그 해당기간 동안은 배송 소요기간에서 제외됩니다.</p>
<p>5. 반품/교환/환불에 관한 규정</p>
<p>가. 구매자는 전자상거래 등에서의 소비자보호에 관한 법률 제17조에 의해 구매한 상품을 배송 받은 후 7일 이내에 판매자에게 환불 또는 교환을 요청하실 수 있습니다. 단, 아래와 같은 경우에는 구매자가 환불 또는 교환을 요청할 수 없습니다.</p>
<p>a. 구매자의 귀책사유로 말미암아 상품이 멸실, 훼손된 경우</p>
<p>b. 구매자의 사용 또는 일부 소비에 의하여 상품의 가치가 현저히 감소한 경우</p>
<p>c. 시간의 경과에 의하여 재판매가 곤란할 정도로 상품의 가치가 현저히 감소한 경우</p>
<p>d. 복제가 가능한 상품의 포장을 훼손한 경우</p>
<p>e. 디지털상품의 경우, 해당 상품의 이용허락이 발생하고 구매자가 해당 사실을 통보받은 경우</p>
<p>나. 실물상품 구매 시, 구매자의 단순변심에 의한 환불 또는 교환의 경우는 구매자가 왕복 배송비 및 필요한 경비를 부담해야 합니다. (유효기간 내 사용하지 않은 전자상품권의 경우에는 주문 취소 및 구입 시 지불한 비용의 전액 환불이 가능하며 유효기간이 지난 경우의 환불은 각 전자상품권의 개별 판매 조건에 따라 처리됩니다.)</p>
<p>다. 상품의 하자 등이 구매자의 귀책사유로 인한 경우가 아닌 때에는, 판매자는 구매자의 요구에 따라 환불 또는 교환할 의무가 있습니다. 이 경우 왕복 배송비 및 필요한 경비는 판매자가 부담합니다.</p>
<p>라. 구매자가 신청한 상품이 품절되었거나 재고가 없는 등의 불가피한 사유로 재화 등을 인도할 수 없을 때에는 전자상거래 등에서의 소비자보호에 관한 법률 제15조 규정 에 따라 상품대금을 받은 날로부터 3영업일 이내에 대금의 환불을 위하여 조치를 취하고 그 사유를 구매자에게 통지합니다.</p>
<p>마. 배송상의 문제로 발생한 구매자의 물질적/정신적 피해의 책임은 전적으로, 책임의 소재를 발생시킨 배송업체(디지털 상품의 경우 통신업체)에게 있으며, 회사는 구매자에게 필요한 정보를 제공하고 원활한 문제해결을 위해 중재할 수 있습니다.</p>
<p>바. 운영자로부터 교환/환불을 승인 받고자 하는 구매자는 객관적인 입증자료를 운영자에게 송부하여 상품의 원시적인 하자 등 교환/환불사유를 증명하여야 하고, 교환/환불을 위해 소요되는 배송비 등 필요경비의 부담은 본 약관에서 정하는 바에 따릅니다.</p>
<p>6. 청약 철회에 관한 규정</p>
<p>구매자는 실물상품을 구매하여 개봉 후 사용하였거나, 디지털상품을 구매하여 발급되는 쿠폰번호 등을 열람하거나 또는 이로 인해 파생된 이용가능 서비스를 1회 이상 이용 시, 또는 상품기한이 지난 경우 청약철회를 요청할 수 없습니다.</p>
<p>7. 구매 예약에 대한 규정</p>
<p>가. 일부 상품의 경우 상품 출시 전 구매 예약이 가능합니다.</p>
<p>나. 구매를 예약한 구매자는 규정한 시간 내에만 예약 상품의 취소가 가능하며, 판매자는 예약 취소 가능 시간을 구매 예약 시점에서 구매자에게 공지합니다.</p>
<p>다. 구매를 예약한 구매자가 예약상품 또는 구매대금 지급 방법을 변경하고자 하는 경우에는 당해 예약을 취소하고 새로운 구매 예약을 신청하셔야 합니다.</p>
<p>라. 구매자가 예약한 상품의 내용에 변동이 있는 경우, 판매자는 지체 없이 구매자에게 변동사항을 통지하여야 합니다. 다만 구매자가 예약상품 신청 시 기재한 연락처가 불명확하여 판매자가 통지할 수 없었던 경우, 판매자는 통지의무를 면합니다.</p>
<p>마. 구매를 예약한 구매자의 단순 변심에 의한 구매 예약 취소 시, 소정의 취소수수료와 송금수수료 등의 기타 비용(이하 "취소비용")이 발생하는 경우에 한해 구매자가 지불한 금액에서 "취소비용"을 공제한 차액을 환불합니다. "취소비용"의 구체적인 내용은 SMS 또는 e -mail을 통해 구매자에게 공지합니다.</p>
<p>바. 본 호의 내용 외에 회사가 별도의 예약관련 기준을 정하는 경우에는 그 기준에 따르며, 별도의 예약 기준과 본 약관의 구매 예약 관련 규정 간에 충돌이 발생하는 경우, 별도의 예약 기준이 우선합니다.</p>
<p>8. 상담/직거래 서비스에 대한 규정</p>
<p>가. 회사는 직접 사운드픽케어에서 판매하는 상품 등에 관한 상담 및 직거래 서비스를 제공할 수 있습니다. 회사가 직접 상담 서비스를 제공하는 경우에는 회사는 상담내용을 회사는 해당 상담을 판매자 등 제3자에게 위탁할 수 있습니다.</p>
<p>나. 운영자와 상담예약이 설정된 상품에 대하여 상담예약을 신청하기 위하여 구매자 스스로 운영자에게 제공한 정보(성명, 전화번호, e-mail 주소 등)가 본인의 것이 아니거나, 허위인 것이어서 발생할 수 있는 제 문제에 관해서는 해당 정보를 제공한 구매자가 모든 책임을 부담하여야 합니다.</p>
</dd>
</dl>
<dl>
<dt>제7조(이용자의 개인정보 보호)</dt>
<dd>
<p>① 회원의 개인정보 보호정책은 사운드픽케어의 “개인정보 처리방침” (게시 위치: 사운드픽케어 사이트 홈페이지 좌측 하단)에 따릅니다.</p>
<p>② 비회원 구매 시의 개인정보 보호정책은 비회원 구매 시의 개인정보 보호를 위하여 회사에서 실시하는 개인정보 수집, 이용 등의 목적과 그 정보의 정책적, 시스템적 보안에 관한 규정이며 다음 각 호와 같습니다. 본 항에 명시되지 아니한 것으로서, 개인정보의 보유 및 이용기간, 개인정보 보호를 위한 기술적/관리적 대책, 개인정보 보호책임자 지정, 제3자에 대한 개인정보 제공 및 공유, 개인정보의 열람, 삭제 및 동의 철회 등의 사항은 사운드픽케어의 “개인정보 처리방침” (게시 위치: 사운드픽케어 사이트 홈페이지 좌측 하단)에 따릅니다. (단, 회원에게만 적용되는 조항은 제외)</p>
<p>비회원 구매의 경우, 회사는 배송 및 대금 결제, 주문내역 조회 및 구매확인 등을 위하여 필요한 개인정보만을 구매자에게 요청합니다. 비회원 구매의 구매자가 입력한 주문자 정보 및 수령자 정보는 대금결제 및 상품 등의 배송에 관련한 용도 외에는 다른 어떠한 용도로도 사용되지 않습니다.</p>
<p>회사는 비회원 구매 시에 구매자의 개인정보를 수집하는 경우, 구매자가 개인정보 처리방침을 개인정보 수집화면에서 보실 수 있도록 조치하고 있습니다.</p>
</dd>
</dl>
<dl>
<dt>제8조(개인정보처리 업무의 위탁)</dt>
<dd>
  <p>① 회사는 사운드픽케어 메뉴 운영에 있어 보다 나은 서비스 제공, 고객편의 제공 등 원활한 업무 수행을 위하여 개인정보 처리업무를 외부 전문업체에 위탁하여 운영할 수 있습니다.</p>
<p>② 회사가 사운드픽케어의 운영과 관련하여 개인정보 처리 위탁을 하는 경우에는 처리 위탁을 받는 자(수탁사), 처리 위탁을 하는 업무의 내용 등에 관한 사항을 사운드픽케어의 개인정보 처리방침 상에 고지합니다.</p>
<p>③ 회사는 위탁업무계약서 등을 통하여 개인정보보호 관련 법규의 준수, 개인정보에 관한 비밀유지, 제3자 제공에 대한 금지, 사고시의 책임부담, 위탁기간, 처리 종료 후의 개인정보의 반환 또는 파기 의무를 규정하고, 이를 준수하도록 관리하고 있습니다.</p>
<p>④ 본 조에 명시되지 아니한 사항은 사운드픽케어의 개인정보 처리방침에 따릅니다.</p>
</dd>
</dl>
<dl>
<dt>제9조(기타 조항)</dt>
<dd>
  <p>① 회사는 필요한 경우 특정 서비스나 기능의 전부 또는 일부를 사운드픽케어를 통해 미리 공지한 후 일시적 또는 영구적으로 수정하거나 중단할 수 있습니다.</p>
<p>② 각 당사자는 상대방의 서면동의 없이 이 약관상의 권리와 의무를 제3자에게 양도하거나 처분할 수 없습니다.</p>
</dd>
</dl>
<dl>
<dt>부칙</dt>
<dd>
<p>(시행일) 본 약관은 2017년 06월 30일부터 시행합니다.</p>
</dd>
</dl>
      </div>
    </div>
    <div>
      <label>
      <input type="checkbox" 
      [(ngModel)]="pgService._agree[0]" 
      (ngModelOptions)="{standalone:true}">
      <span>
        사운드픽 케어 구매약관에 동의합니다.
      </span>
    </label>
    </div>
    <div class="help" *ngIf="!pgService._agree[0]">
      <strong>구매약관에 동의해주세요.</strong>
    </div>
  </dd>
</dl>