.clause-box{
    width: 98%;
    max-width: 98%;
    height: 15.625rem;
    margin: 0 1%;
    background-color: #fff;
    border: 0.0625rem solid #333;
    /*border : none;*/
    line-height: 1.7;
    padding: 0.625rem;
    text-align: left;
    overflow-y:scroll;
}
.clause-box *{
    font-size: 85%;
}
.clause-box > dl{
    margin: 1rem;
}
.clause-box > dl > dt{
    margin: 0.8rem;
}

.buttons{
    text-align: center;
}