<h2>케어서비스 진행현황</h2>
<section>
<h3>진행중</h3>
<ol>
  <li>
    <div>
      <strong>제품명1</strong>
      <a routerLink="1">보기</a>
    </div>
  </li>
  <li>
    <div>
      <strong>제품명1</strong>
      <a routerLink="1">보기</a>
    </div>
  </li>
</ol>
</section>
<section>
  <h3>완료됨</h3>
  <ol>
    <li>
      <div>
        <strong>제품명1</strong>
        <a routerLink="2">보기</a>
      </div>
    </li>
    <li>
      <div>
        <strong>제품명1</strong>
        <a routerLink="2">보기</a>
      </div>
    </li>
  </ol>
</section>