:host{
    display: block;
    background-color: #fff;
    overflow: auto;
    min-height: calc(100% - 9.8125rem);
    text-align: left;
    padding-bottom: 3rem;
}

strong{
    display: block;
}

._address-input{
    display: block;
    width: 100%;
}
._address-input > input[name=postcode]{
    width: 10rem;
}
._address-input > ._find-postcode{
    width: 10rem;
    border: none;
    background-color: transparent;
    color: #111;
    border-bottom: 1px solid #111;
    border-radius: 0;
    margin: 0;
}
._address-input > input[name=province]{
    display: block;
    width: 100%;
    max-width: 30rem;
}
._address-input > input[name=avenue]{
    display: block;
    width: 100%;
    max-width: 30rem;
}
.options{
    text-align: center;
}