<div class="wrap">
  <h2>A/S 신청</h2>
  <hr>
  <form>
    <dl>
    <dt>주소</dt>
    <dd>
    <div *ngIf="_addr_hist">
      <strong>기존주소에서 선택</strong>
    <select [(ngModel)]="callService._info.user_addr_hist_id" 
    [ngModelOptions]="{standalone:true}">
      <option *ngFor="let addr of _addr_hist" 
      value="{{addr.hist_id}}">
        {{'(' + addr.postcode + ')' + addr.province + ' ' + addr.avenue}}
      </option>
    </select>
    </div>
    <div class="_address-input">
      <strong>새 주소를 입력</strong>
      <input type="text" name="postcode" placeholder="00000" disabled 
      [(ngModel)]="callService._info.postcode" 
      [ngModelOptions]="{standalone:true}">
      <button class="_find-postcode" (click)="loadPostcodePage()">우편번호찾기</button>
      <input type="text" name="province" placeholder="서울특별시 영등포구 당산동3가" disabled 
      [(ngModel)]="callService._info.province" 
      [ngModelOptions]="{standalone:true}">
      <input type="text" name="avenue" placeholder="72-1 406호" 
      [(ngModel)]="callService._info.avenue" 
      [ngModelOptions]="{standalone:true}">
    </div>
    </dd>
    </dl>
    <dl>
      <dt>연락처</dt>
      <dd>
    <div class="_phone-input">
    <label>기본 연락처를 적어주세요.</label>
    <br>
    <input type="tel" [(ngModel)]="callService._info.phone1" 
    [ngModelOptions]="{standalone:true}">
    <br>
    <label>비상시 연락처를 적어주세요.</label>
    <br>
    <input type="tel" [(ngModel)]="callService._info.phone2" 
    [ngModelOptions]="{standalone:true}">
    </div>
      </dd>
    </dl>
    <dl>
      <dt>신청사유</dt>
      <dd>
    <div class="_reason-input">
      <textarea placeholder="신청사유를 적어주세요." 
      [(ngModel)]="callService._info.reason" 
      [ngModelOptions]="{standalone:true}"></textarea>
    </div>
      </dd>
      </dl>
      <div class="options">
        <button (click)="post()">위 내용으로 A/S를 신청합니다.</button>
      </div>
  </form>
</div>