:host{
    display: block;
    overflow: auto;
    background-color: #fff;
    min-height: calc(100% - 9.8125rem);
}

.product-info{
    display: block;
    width: 100%;
    overflow: hidden;
    text-align: left;
}

.product-info > section{
    display: block;
    width: 100%;
    overflow: hidden;
}
.product-info > figure{
    float: left;
    width: 12rem;
    vertical-align: top;
    margin: 0;
    padding: 1.33rem 1.33rem 1.33rem 0;
}
.product-info > figure > img{
    width: 100%;
}
.product-info > figure > figcaption{
    
}
.product-info > div.prod-info{
    float: left;
    width: calc(100% - 12rem);
    vertical-align: top;
}
.product-info > div.prod-info > h4{
    
}
.product-info > div.prod-info > strong{
    
}

.product-info > div.prod-info > div.options{
    border-top : 0.0625rem solid #999;
    margin: 0.5rem;
}

.info-options > section{
    margin: 3rem auto;
}
.info-options .options{
    text-align: center;
}
.options .show-receipt i{
    display: block;
    font-size: 3rem;
    text-align: center;
    padding-left: 0.6rem;
}
.care-logo-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.6rem;
    padding: 0;
}
.care-logo-list > li{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0 1rem;
    max-width: 40%;
    vertical-align: text-bottom;
}
.care-logo-list > li > figure{
    padding: 0;
    margin: 0;
}
.care-logo-list > li > figure > img{
    max-width: 100%;
    max-height: 9.3125rem;
}
.care-logo-list > li:first-of-type > figure > img{
    padding-top: 0.7rem;
}
.care-logo-list > li:nth-of-type(2) > figure > img{
    padding-left: 0.7rem;
}
.care-logo-list > li > figure > figcaption{
    font-size: 1rem;
    text-align: center;
    color: #ff1b51;
}

#care-payment-button{
    display: inline-block;
    background-color: #ff1b51;
    color: white;
    width: 18rem;
    padding: .3rem 2rem;
    height: 38px;
    border-radius: 19px;
    margin: .5rem !important;
    border-bottom: none;
}
#care-payment-button:hover{
    transition : none;
    border-bottom: none;
}