<div class="wrap" *ngIf="target.pkey">
  <h2>제품정보</h2>
  <hr>
  <div class="product-info">
    <figure>
      <img src="http://static.soundpick.net/product/thumbnail/{{target.pkey.product.thumbnail_url}}">
      <figcaption></figcaption>
    </figure>
    <div class="prod-info">
      <h4>{{target.pkey.product.brand + ' ' + target.pkey.product.name + ' ' + target.pkey.product.model}}</h4>
      <strong>{{target.pkey.category + '-' +  target.pkey.aver_min + '-' + target.pkey.aver_max + '-' + target.pkey.unique_serial + target.pkey.validation_number}}</strong>
      <dl>
        <dt>케어타입</dt>
        <dd *ngIf="target.pkey.care.wrty_type">
          <caretype [typestr]="target.pkey.care.wrty_type"></caretype>
        </dd>
        <dd *ngIf="!target.pkey.care.wrty_type">
          <span>미등록<small>(영수증을 업로드하여 인증해주세요)</small></span>
        </dd>
      </dl>
      <dl *ngIf="target.pkey.care.wrty_type && target.pkey.care.wrty_type != 'INVALID'">
        <dt>보증기간</dt>
        <dd>
          <pydate [datestr]="target.pkey.care.wrty_len.s_date"></pydate>부터
          <pydate [datestr]="target.pkey.care.wrty_len.e_date"></pydate>까지
        </dd>
      </dl>
    </div>
  </div>
  <h2>제공서비스</h2>
  <hr>
  <div class="info-options">
    <section class="info">
      <strong>구매영수증을 업로드하고 관리하세요.</strong>

      <div class="help" *ngIf="!target.pkey.care || !target.pkey.care.receipt_filename || target.pkey.care.receipt_filename == ''">
        <strong>아직 구매영수증을 업로드하지 않았습니다.</strong>
        <p>구매영수증을 업로드 해 주세요. 구매영수증 미 업로드 시, 보증기간 산정이 불가하여 각종 서비스를 이용하실 수 없습니다.</p>
        <p>로그인 후 구매영수증을 업로드하시면 자동으로 [내제품관리] 목록에 해당 시리얼이 등록되어, 관리가 쉬워집니다.</p>
      </div>

      <div class="options">
        <app-receipt-uploader [pkeyid]="target.pkey.pkey_id" (uploadedReceipt)="target.pkey.care.receipt_filename = $event.response.receipt_filename"></app-receipt-uploader>
        <a class="show-receipt" *ngIf="target.pkey.care && target.pkey.care.receipt_filename && target.pkey.care.receipt_filename != ''" href="http://static.soundpick.net/care/receipt/{{target.pkey.care.receipt_filename}}"
          download target="_blank">
          <i class="fonti um-file-download-o"></i>
          영수증 보기
        </a>
      </div>
      <div class="help" *ngIf="target.pkey.care && target.pkey.care.receipt_filename">
        <strong>구매영수증이 등록된 상태입니다.</strong>
        <p>등록된 영수증은 보증기간 산정을 위한 기초자료로 사용되며, 보증서비스 이용 시 별도 추가정보를 요구할 수 있습니다.</p>
      </div>
    </section>
    <section class="info" *ngIf="target.pkey.care && 
  target.pkey.care.receipt_filename && 
  target.pkey.care.receipt_filename != '' && 
  target.pkey.care.wrty_type == 'INVALID'">
      <strong>케어서비스를 구매하고 다양한 혜택을 받아보세요.</strong>
      <ul class="care-logo-list">
        <li>
          <figure>
            <img src="assets/image/care-logo.png">
            <figcaption>SOUNDPick CARE</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="assets/image/care-plus-logo.png">
            <figcaption>SOUNDPick CARE Plus</figcaption>
          </figure>
        </li>
      </ul>
      <div class="options">
        <button id="care-payment-button"
         [routerLink]="['/serial','info',target.pkey.pkey_id,'care','regist']" 
         [disabled]="target.pkey.care.wrty_type == 'INVALID' && 
         target.pkey.care.care_order && 
         target.pkey.care.care_order.length > 0 && 
         target.pkey.care.care_order[target.pkey.care.care_order.length-1].imp_order_resp && 
         target.pkey.care.care_order[target.pkey.care.care_order.length-1].imp_order_resp[target.pkey.care.care_order[target.pkey.care.care_order.length-1].imp_order_resp.length-1].pg_tid != null && 
         target.pkey.care.care_order[target.pkey.care.care_order.length-1].imp_order_resp[target.pkey.care.care_order[target.pkey.care.care_order.length-1].imp_order_resp.length-1].cancel_amount == 0">
         케어 구매
        </button>
      </div>
      <div class="help" 
      *ngIf="target.pkey.care.wrty_type == 'INVALID' && 
      target.pkey.care.care_order && 
      target.pkey.care.care_order[target.pkey.care.care_order.length-1].imp_order_resp &&
      target.pkey.care.care_order[target.pkey.care.care_order.length-1].imp_order_resp[target.pkey.care.care_order[target.pkey.care.care_order.length-1].imp_order_resp.length-1].status == 'paid' && 
      target.pkey.care.care_order[target.pkey.care.care_order.length-1].imp_order_resp[target.pkey.care.care_order[target.pkey.care.care_order.length-1].imp_order_resp.length-1].pg_tid != null">
        <strong>결제이력이 존재합니다!</strong>
        <p>승인 대기중인 케어서비스 구매 이력이 존재합니다. 만약 케어서비스를 더 높은 단계로 재구매하고 싶으신 경우, 승인 이후 나타나는 [케어 업그레이드] 메뉴를 통해 즉시 구매하실 수 있으니, 잠시만 기다려 주시기 바랍니다.</p>
      </div>
      <div class="help" 
      *ngIf="target.pkey.care.wrty_type == 'INVALID' && 
      target.pkey.care.care_order && 
      target.pkey.care.care_order[target.pkey.care.care_order.length-1].imp_order_resp && 
      target.pkey.care.care_order[target.pkey.care.care_order.length-1].imp_order_resp[target.pkey.care.care_order[target.pkey.care.care_order.length-1].imp_order_resp.length-1].status == 'ready' && 
      target.pkey.care.care_order[target.pkey.care.care_order.length-1].imp_order_resp[target.pkey.care.care_order[target.pkey.care.care_order.length-1].imp_order_resp.length-1].pg_tid != null">
        <strong>입금대기중입니다.</strong>
        <p>무통장/가상계좌를 선택하신 고객님께서는 안내된 시간 이내에 입금해주시기 바랍니다. 입금계좌는 홈페이지 하단에서 확인가능합니다.</p>
      </div>
    </section>
    <section class="info" *ngIf="target.pkey.care && target.pkey.care.receipt_filename && target.pkey.care.receipt_filename != ''">
      <strong>AS가 필요하신가요?</strong>
      <p>(유선전화) 070-7814-0007으로 연락하시면 A/S접수가 가능하며, 구입하신 보증상품에 맞는 서비스를 받으실 수 있습니다.</p>
      <p>(신청가능시간 : 평일 오전 10시부터 오후 6시 사이)</p>
      <!-- <p>* 향후 온라인을 통한 간편 AS접수를 준비중입니다.</p> -->
      <!--<div class="options">
        <a [routerLink]="['/serial','info',target.pkey.pkey_id,'care','call']">AS신청</a>
      </div>-->
    </section>
    <section class="info" *ngIf="target.pkey.care.wrty_type == 'BASIC'">
      <strong>파손까지 보상해주는 케어 업그레이드!</strong>
      <p>보증범위를 벗어난 제품문제를 겪고 계신가요? 보증기간 내 상위 단계의 보증서비스를 구입하여 언제든지 보증 범위를 확대하고 보증서비스를 받으실 수 있습니다.</p>
      <p>상위 단계의 보증 서비스 구매 시, 기존 보증 서비스 구매 시 지불하였던 금액을 제외한 금액만 지불하여 상위 단계의 보증 서비스 구매가 가능합니다.</p>
      <div class="options">
        <a [routerLink]="['/serial','info',target.pkey.pkey_id,'care','regist']">케어 업그레이드</a>
      </div>
    </section>
  </div>
</div>