<div class="user-state">
  <div id="is-loading" *ngIf="session._is_loading">
    <strong>세션을 확인중입니다.</strong>
  </div>
  <div id="is_logged_in" 
  *ngIf="!session._is_loading && session._is_logged_in && session._info.division != 'GUEST'">
    <ul>
      <li><a routerLink="/my/info">내정보</a></li>
      <li><a href="/api/user/session/destroy">로그아웃</a></li>
    </ul>
    <strong>{{session._info.name}}님 안녕하세요!</strong>
  </div>
  <div id="not_logged_in" 
  *ngIf="(!session._is_loading && !session._is_logged_in) || session._info.division == 'GUEST'">
    <ul>
      <li *ngIf="session._info.division != 'GUEST'">
        <a routerLink="/login">로그인</a>
      </li>
      <li *ngIf="session._info.division == 'GUEST'">
        <a href="/api/user/session/destroy">로그아웃</a>
      </li>
    </ul>
    <strong *ngIf="session._info.division == 'GUEST'">익명사용자로 이용중입니다!</strong>
  </div>
</div>