:host{
    display: block;
    position: relative;
    width: 100%;
    height: 3rem;
}
.user-state{
    height: 100%;
}
#is_logged_in, #not_logged_in{
    display: block;
    width: 100%;
    padding: 0.625rem 1%;
}

#not_logged_in strong, #is_logged_in strong{
    float: right;
    font-size: 1rem;
    color: #888;
    margin: 0 1rem;
    vertical-align: text-bottom;
}
#not_logged_in ul, #is_logged_in ul{
    float: right;
    display: block;
    margin: 0;
    padding: 0;
    vertical-align: text-bottom;
}
#not_logged_in ul li, #is_logged_in ul li{
    display: inline-block;
    margin: 0;
    padding: 0;
}
#is_logged_in ul li:before{
    content : '| ';
    color: #888;
}
#not_logged_in a, #is_logged_in a{
    border-bottom: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #888;
}