<form>
  <dl class="input-phone-number">
    <dt>휴대전화번호를 입력해주세요.</dt>
    <dd class="options">
      <input type="tel" placeholder="'-'없이 입력해주세요." [(ngModel)]="_phone_number" [ngModelOptions]="{standalone: true}">
      <button (click)="requestValidNumber()" [disabled]="_is_requested">인증번호 전송</button>
    </dd>
  </dl>
  <dl *ngIf="_valid_input_visible">
    <dt>전송받은 인증번호를 입력해주세요. <span class="timer">(유효시간 : {{_time}}초)</span></dt>
    <dd class="options">
      <input type="number" placeholder="6자리" [(ngModel)]="_valid_number" [ngModelOptions]="{standalone: true}">
      <button (click)="valid()" [disabled]="_time < 0">인증하기</button>
    </dd>
  </dl>
</form>