:host{
    display: block;
    overflow: auto;
}
input[type=tel], input[type=number]{
    text-align: center;
}
.timer{
    font-size: 95%;
    color: #ff1b51;
}
.input-phone-number{
    margin-bottom: 2rem;
}
.options input,
.options button{
    vertical-align: bottom !important;
    margin-bottom: 0 !important;
}