:host{
    display: block;
    background-color: #fff;
    overflow: auto;
    min-height: calc(100% - 9.8125rem);
    padding-bottom: 3rem;
}

#do-pay{
    text-align: center;
}

:host >>> dl{
    margin-bottom: 3rem;
}
:host >>> label{
    display: inline-block;
    margin: 0.5rem;
}

#pay-info table{
}
#pay-info table th{
    min-width: 6.5rem;
}
#pay-info table td{
    padding-right: 2rem;
}