<div class="wrap">
  <h2>사운드픽 케어 구매</h2>
  <hr>
  <app-clause></app-clause>
  <app-select (isAmount)="is_amount_posted($event)"></app-select>
  <app-pay></app-pay>

  <section id="do-pay" *ngIf="pgService._agree[0] && 
  pgService._agree[1] && 
  pgService._agree[2] && 
  is_amount">

    <div id="pay-info" class="info">
      <strong>결제준비가 되었습니다.</strong>
      <p>다음 내용을 확인하시고, 아래의 [결제하기] 버튼을 눌러주세요.</p>
      <table>
        <tr>
          <th>결제수단</th>
          <td>{{pgService._pay_method_dict[pgService._info.pay_method]}}</td>
          <th>선택상품</th>
          <td>{{pgService._info.name}}</td>
        </tr>
        <tr>
          <th>결제예정금액</th>
          <td colspan="3">{{pgService._info.amount}}원</td>
        </tr>
      </table>
    </div>

    <div class="help">
      <strong>이 페이지를 새로고침하지 마세요!</strong>
      <p>
        결제가 완료될 때까지 절대 창을 닫거나, 새로고침 하지 마세요. 고객님께서 결제하신 내역이 저장되지 않아 서비스 이용에 지장이 발생할 수 있습니다.
      </p>
    </div>

    <button class="_next" (click)="requestIMP()">결제하기</button>
  </section>
</div>