<!--<app-loading></app-loading>-->
<div class="wrap">
  <div id="is-redirect" *ngIf="_is_redirect">
    <i class="fonti um-exclamation-circle"></i>
    <strong>인증이 필요한 메뉴입니다.</strong>
  </div>
  <h2>로그인/회원가입</h2>
  <hr>
  <div class="info">
    <strong>휴대전화 간단인증으로 임시로그인</strong>
    <app-phone></app-phone>
  </div>
  <div class="hr-with-text">
    <hr>
    <span>
    또는
  </span>
  </div>
  <form>
    <div class="info">
      <strong>소셜서비스 아이디로 로그인/가입하기</strong>
      <div class="login-buttons">
        <app-facebook></app-facebook>
        <app-naver></app-naver>
      </div>
    </div>
    <div class="help">
      <strong>회원가입</strong>
      <p>
        최초 1회 로그인으로 회원가입 의사를 표시한 것으로 간주합니다. 회원가입 시, 고객님이 보유한 제품의 서비스 일괄 관리가 가능합니다.
        <br>
        <a target="_blank" href="/document/privacy_policy">회원가입약관 확인하기</a>
        <br> 회원탈퇴는 가입에 이용하신 소셜미디어의 설정에서 직접 삭제 또는 연동해제 함으로서 가능합니다.
      </p>
    </div>
  </form>
</div>