:host{
    display: block;
    overflow: auto;
    background-color: #fff;
    min-height: calc(100% - 9.8125rem);
    padding-bottom: 3rem;
}

#is-redirect{
    text-align: center;
    padding: 3rem 0;
}
#is-redirect > strong{
    color: #ff1b51;
    font-size: 2rem;
    font-weight: 200;
    display: block;
}
#is-redirect > i{
    font-size: 4rem;
    color: #ff1b51;
}
.login-buttons{
    text-align: center;
    margin: 2rem auto;
}