<div class="wrap">
  <h2>사운드픽케어 이용약관</h2>
  <hr>
  <section>
<dl>
  <dt>제 1 조 (목적)</dt>
<dd>
  <p>이 약관은 주식회사 펀클래스(이하 "회사”라 합니다)가 제공하는 사운드픽케어 서비스(이하 "서비스”라 합니다)와 관련하여, 회사와 이용 고객간에 서비스의 이용조건 및 절차, 회사와 회원간의 권리, 의무 및 기타 필요한 사항을 규정함을 목적으로 합니다. 본 약관은 PC통신, 스마트폰(안드로이드폰, 아이폰 등) 앱 등을 이용하는 전자상거래에 대해서도 그 성질에 반하지 않는 한 준용됩니다.</p>
</dd>
</dl>
<dl>
<dt>제 2 조 (용어의 정의)</dt>
<dd>
<p>1. “사이트”란 “업주”가 재화 또는 서비스 상품(이하 “재화 등”이라 합니다)을 “이용자”에게 판매하기 위하여, “회사”가 컴퓨터 등 정보통신설비를 이용하여 재화 등을 거래할 수 있도록 설정하여 제공하는 가상의 영업장을 말합니다.</p>
<p>2. “회원”이라 함은 “사운드픽케어”에 개인정보를 제공하여 회원등록을 한 자로서, “사운드픽케어”의 정보를 지속적으로 제공받으며, “사운드픽”이 제공하는 서비스를 계속적으로 이용할 수 있는 자를 의미하고, “사운드픽케어” 광고업소는 포함되지 않습니다.</p>
<p>3. “비회원”이라 함은 “회원”으로 가입하지 않고 “회사”가 제공하는 서비스를 이용하는 자를 말합니다.</p>
<p>4. “비밀번호(Password)”라 함은 회원의 동일성 확인과 회원의 권익 및 비밀보호를 위하여 회원 스스로가 설정하여 사이트에 등록한 영문과 숫자 등의 조합을 말합니다.</p>
<p>5. “게시물”이라 함은 “회원”이 서비스를 이용함에 있어 서비스 상에 게시한 부호ㆍ문자ㆍ음성ㆍ음향ㆍ화상ㆍ동영상 등의 정보 형태의 글, 사진, 동영상 및 각종 파일과 링크 등을 의미합니다.</p>
</dd>
</dl>
<dl>
<dt>제 3 조 (약관의 명시와 개정)</dt>
<dd>
<p>1. “회사”는 이 약관의 내용과 상호, 영업소 소재지 주소(소비자의 불만을 처리할 수 있는 곳의 주소를 포함), 대표자의 성명, 사업자등록번호, 통신판매업 신고번호, 연락처(전화, 전자우편 주소 등) 등을 “이용자”가 쉽게 알 수 있도록 “사이트”의 초기 서비스화면(전면)에 게시합니다. 다만, 약관의 내용은 “이용자”가 연결화면을 통하여 보도록 할 수 있습니다.</p>
<p>2. “회사”는 『전자상거래 등에서의 소비자보호에 관한 법률』, 『약관의 규제등에 관한 법률』, 『전자문서 및 전자거래기본법』, 『전자서명법』, 『정보통신망 이용촉진 등에 관한 법률』, 『소비자기본법』 등 관련법령을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.</p>
<p>3. “회사”는 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 “사이트”의 초기화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다. 다만, “이용자”에게 불리하게 약관내용을 변경하는 경우에는 최소한 30일 이상의 사전 유예기간을 두고 공지합니다. 이 경우 “회사”는 개정 전과 개정 후 내용을 “이용자”가 알기 쉽도록 표시합니다.</p>
<p>4. “회원”은 변경된 약관에 동의하지 않을 권리가 있으며, 변경된 약관에 동의하지 않을 경우에는 서비스 이용을 중단하고 탈퇴를 요청할 수 있습니다. 다만, “이용자”가 제3항의 방법 등으로 “회사”가 별도 고지한 약관 개정 공지 기간 내에 “회사”에 개정 약관에 동의하지 않는다는 명시적인 의사표시를 하지 않는 경우 변경된 약관에 동의한 것으로 간주합니다.</p>
<p>5. 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 『전자상거래 등에서의 소비자보호에 관한 법률』, 『약관의 규제 등에 관한 법률』, 공정거래위원회가 정하는 『전자상거래 등에서의 소비자보호지침』 및 관계 법령 또는 상관례에 따릅니다.</p>
</dd>
</dl>
<dl>
<dt>제 4 조 (관련법령과의 관계)</dt>
<dd>
<p>이 약관 또는 개별약관에서 정하지 않은 사항은 전기통신사업법, 전자거래기본법, 정보통신망법, 전자상거래 등에서의 소비자보호에 관한 법률, 개인정보보호법 등 관련 법령의 규정과 일반적인 상관례에 의합니다.</p>
</dd>
</dl>
<dl>
<dt>제 5 조 (서비스의 제공 및 변경)</dt>
<dd>
<p>1. “회사”는 다음과 같은 서비스를 제공합니다.</p>
<div class="help">
<p>1) “재화 등”에 대한 보증알림 서비스</p>
<p>2) “재화 등”에 보증연장을 위한 전자결제창구 제공</p>
<p>3) 기타 “회사”가 정하는 서비스</p>
</div>
<p>2. “회사”는 서비스 제공과 관련한 회사 정책의 변경 등 기타 상당한 이유가 있는 경우 등 운영상, 기술상의 필요에 따라 제공하고 있는 “서비스”의 전부 또는 일부를 변경 또는 중단할 수 있습니다.</p>
<p>3. “서비스”의 내용, 이용방법, 이용시간에 대하여 변경 또는 “서비스” 중단이 있는 경우에는 변경 또는 중단될 “서비스”의 내용 및 사유와 일자 등은 그 변경 또는 중단 전에 회사 "웹사이트" 또는 “서비스” 내 "공지사항" 화면 등 “회원”이 충분이 인지할 수 있는 방법으로 사전에 공지합니다.</p>
</dd>
</dl>
<dl>
<dt>제 6 조 (서비스 이용시간 및 중단)</dt>
<dd>
  <p>1. “서비스”의 이용은 “회사”의 업무상 또는 기술상 특별한 지장이 없는 한 연중무휴 1일 24시간을 원칙으로 합니다. 다만, 정기 점검 등의 필요로 “회사”가 정한 날이나 시간은 제외됩니다. 정기점검시간은 서비스제공화면에 공지한 바에 따릅니다.</p>
<p>2. “회사”는 “서비스”의 원활한 수행을 위하여 필요한 기간을 정하여 사전에 공지하고 서비스를 중지할 수 있습니다. 단, 불가피하게 긴급한 조치를 필요로 하는 경우 사후에 통지할 수 있습니다.</p>
<p>3. “회사”는 컴퓨터 등 정보통신설비의 보수점검•교체 및 고장, 통신의 두절 등의 사유가 발생한 경우에는 “서비스”의 제공을 일시적으로 중단할 수 있습니다.</p>
</dd>
</dl>
<dl>
<dt>제 7 조 (이용계약의 성립)</dt>
<dd>
  <p>1. 이용계약은 “회원”이 되고자 하는 자(이하 “가입신청자”)가 약관의 내용에 동의를 하고, “회사”가 정한 가입 양식에 따라 회원정보를 기입하여 회원가입신청을 하고 “회사”가 이러한 신청에 대하여 승인함으로써 체결됩니다.</p>
<p>2. “회사”는 다음 각 호에 해당하는 신청에 대하여는 승인을 하지 않거나 사후에 이용계약을 해지할 수 있습니다.</p>
<div class="help">
<p>1) 가입신청자가 이 약관에 의하여 이전에 회원자격을 상실한 적이 있는 경우. 다만, 회원자격 상실 후 3년이 경과한 자로서 회사의 회원 재가입 승낙을 얻은 경우에는 예외로 함</p>
<p>2) 실명이 아니거나 타인의 명의를 이용한 경우</p>
<p>3) 회사가 실명확인절차를 실시할 경우에 이용자의 실명가입신청이 사실 아님이 확인된 경우</p>
<p>4) 등록내용에 허위의 정보를 기재하거나, 기재누락, 오기가 있는 경우</p>
<p>5) 이미 가입된 회원과 전화번호나 전자우편주소가 동일한 경우</p>
<p>6) 부정한 용도 또는 영리를 추구할 목적으로 본 서비스를 이용하고자 하는 경우</p>
<p>7) 기타 이 약관에 위배되거나 위법 또는 부당한 이용신청임이 확인된 경우 및 회사가 합리적인 판단에 의하여 필요하다고 인정하는 경우</p>
</div>
<p>3. 제1항에 따른 신청에 있어 “회사”는 “회원”에게 전문기관을 통한 실명확인 및 본인인증을 요청할 수 있습니다.</p>
<p>4. “회사”는 서비스관련설비의 여유가 없거나, 기술상 또는 업무상 문제가 있는 경우에는 승낙을 유보할 수 있습니다.</p>
<p>5. “회원”은 회원가입 시 등록한 사항에 변경이 있는 경우, 상당한 기간 이내에 “회사”에 대하여 회원정보 수정 등의 방법으로 그 변경사항을 알려야 합니다.</p>
</dd>
</dl>
<dl>
<dt>제 8 조 (이용계약의 종료)</dt>
<dd>
  <p>1. “회원”의 해지</p>
<div class="help">
<p>1) “회원”은 언제든지 “회사”에게 해지의사를 통지함으로써 이용계약을 해지할 수 있습니다.</p>
<p>2) “회사”는 전항에 따른 “회원”의 해지요청에 대해 특별한 사정이 없는 한 이를 즉시 처리합니다.</p>
<p>3) “회원”이 계약을 해지하는 경우 “회원”이 작성한 게시물은 삭제되지 않습니다.</p>
</div>
<p>2. “회사”의 해지</p>
<div class="help">
<p>1) “회사”는 다음과 같은 사유가 있는 경우, 이용계약을 해지할 수 있습니다. 이 경우 “회사”는 “회원”에게 전자우편, 전화, 팩스 기타의 방법을 통하여 해지사유를 밝혀 해지의사를 통지합니다. 다만, “회사”는 해당 “회원”에게 해지사유에 대한 의견진술의 기회를 부여 할 수 있습니다.</p>
<ol>
  <li>가. 제7조 제2항에서 정하고 있는 이용계약의 승낙거부사유가 있음이 확인된 경우</li>
  <li>나. “회원”이 “회사”나 다른 회원 기타 타인의 권리나 명예, 신용 기타 정당한 이익을 침해하는 행위를 한 경우</li>
  <li>다. 기타 “회원”이 이 약관 및 “회사”의 정책에 위배되는 행위를 하거나 이 약관에서 정한 해지사유가 발생한 경우</li>
  <li>라. 1년 이상 서비스를 이용한 이력이 없는 경우</li>
</ol>
<p>2) 이용계약은 “회사”가 해지의사를 “회원”에게 통지함으로써 종료됩니다. 이 경우 “회사”가 해지의사를 “회원”이 등록한 전자우편주소로 발송하거나 “회사” 게시판에 게시함으로써 통지에 갈음합니다.</p>
</div>
</dd>
</dl>
<dl>
<dt>제 9 조 (회원의 ID 및 비밀번호에 대한 의무)</dt>
<dd>
  <p>1. ID와 비밀번호에 관한 관리책임은 “회원”에게 있습니다.</p>
  <p>2. “회원”은 자신의 ID 및 비밀번호를 제3자에게 이용하게 해서는 안됩니다.</p>
  <p>3. “회원”이 자신의 ID 및 비밀번호를 도난 당하거나 제3자가 사용하고 있음을 인지한 경우에는 즉시 “회사”에 통보하고 “회사”의 조치가 있는 경우에는 그에 따라야 합니다.</p>
  <p>4. “회원”이 제3항에 따른 통지를 하지 않거나 “회사”의 조치에 응하지 아니하여 발생하는 모든 불이익에 대한 책임은 “회원”에게 있습니다.</p>
</dd>
</dl>
<dl>
<dt>제 10 조 (회원 및 이용자의 의무)</dt>
<dd>
  <p>1. “회원”은 관계법령 및 이 약관의 규정, “회사”의 정책, 이용안내 등 “회사”가 통지 또는 공지하는 사항을 준수하여야 하며, 기타 “회사” 업무에 방해되는 행위를 하여서는 안됩니다.</p>
  <p>2. “회원”은 서비스 이용과 관련하여 다음 각 호의 행위를 하여서는 안됩니다.</p>
  <div class="help">
  <p>1) 서비스 신청 또는 변경 시 허위내용의 등록</p>
  <p>2) “회사”에 게시된 정보의 허가 받지 않은 변경</p>
  <p>3) “회사”가 정한 정보 이외의 정보(컴퓨터 프로그램 등)의 송신 또는 게시</p>
  <p>4) “회사” 또는 제3자의 저작권 등 지적 재산권에 대한 침해</p>
  <p>5) “회사 또는 제3자의 명예를 손상시키거나 업무를 방해하는 행위</p>
  <p>6) 외설 또는 폭력적인 메시지, 화상, 음성 기타 공공질서 미풍양속에 반하는 정보를 “서비스”에 공개 또는 게시하는 행위</p>
  <p>7) 고객센터 상담 내용이 욕설, 폭언, 성희롱 등에 해당하는 행위</p>
  <p>8) 포인트를 부정하게 적립하거나 사용하는 등의 행위</p>
  <p>9) 허위 주문, 허위 리뷰작성 등을 통해 서비스를 부정한 목적으로 이용하는 행위</p>
  <p>10) 자신의 ID, PW를 제3자에게 양도하거나 대여하는 등의 행위</p>
  <p>11) 정당한 사유 없이 당사의 영업을 방해하는 내용을 기재하는 행위</p>
  <p>12) 리버스엔지니어링, 디컴파일, 디스어셈블 및 기타 일체의 가공행위를 통하여 서비스를 복제, 분해 또 모방 기타 변형하는 행위</p>
  <p>13) 자동 접속 프로그램 등을 사용하는 등 정상적인 용법과 다른 방법으로 서비스를 이용하여 회사의 서버에 부하를 일으켜 회사의 정상적인 서비스를 방해하는 행위</p>
  <p>14) 기타 관계법령에 위반된다고 판단되는 행위</p>
  </div>
</dd>
</dl>
<dl>
<dt>제 11 조 (회원의 게시물)</dt>
<dd>
  <p>“회원”이 작성한 게시물에 대한 저작권 및 모든 책임은 이를 게시한 “회원”에게 있습니다. 단, “회사”는 “회원”이 게시하거나 등록하는 게시물의 내용이 다음 각 호에 해당한다고 판단되는 경우 해당 게시물을 사전통지 없이 삭제 또는 임시조치(블라인드)할 수 있습니다.</p>
<div class="help">
<p>1) 다른 회원 또는 제3자를 비방하거나 명예를 손상시키는 내용인 경우</p>
<p>2) 공공질서 및 미풍양속에 위반되는 내용일 경우</p>
<p>3) 범죄적 행위에 결부된다고 인정되는 경우</p>
<p>4) 회사의 저작권, 제3자의 저작권 등 기타 권리를 침해하는 내용인 경우</p>
<p>5) 회원이 사이트와 게시판에 음란물을 게재하거나 음란사이트를 링크하는 경우</p>
<p>6) 회사로부터 사전 승인 받지 아니한 상업광고, 판촉 내용을 게시하는 경우</p>
<p>7) 해당 상품과 관련 없는 내용인 경우</p>
<p>8) 정당한 사유 없이 “회사” 또는 “업주”의 영업을 방해하는 내용을 기재하는 경우</p>
<p>9) 자신의 업소를 홍보할 목적으로 허위 또는 과장된 게시글을 게재하는 경우</p>
<p>10) 의미 없는 문자 및 부호에 해당하는 경우</p>
<p>11) 제3자 등으로부터 권리침해신고가 접수된 경우</p>
<p>12) 관계법령에 위반된다고 판단되는 경우</p>
</div>
</dd>
</dl>
<dl>
<dt>제 12 조 (회원게시물의 관리)</dt>
<dd>
  <p>1. “회원”의 "게시물"이 정보통신망법 및 저작권법 등 관련법에 위반되는 내용을 포함하는 경우, 권리자는 관련법이 정한 절차에 따라 해당 "게시물"의 게시중단 및 삭제 등을 요청할 수 있으며, 회사는 관련법에 따라 조치를 취하여야 합니다.</p>
  <p>2. 회사는 전항에 따른 권리자의 요청이 없는 경우라도 권리침해가 인정될 만한 사유가 있거나 기타 회사 정책 및 관련법에 위반되는 경우에는 관련법에 따라 해당 "게시물"에 대해 임시조치 등을 취할 수 있습니다.</p>
  <p>3. 본 조에 따른 세부절차는 정보통신망법 및 저작권법이 규정한 범위 내에서 회사가 정한 게시중단요청서비스에 따릅니다.</p>
<div class="help">
<p>- 게시중단요청: post@funclass.net</p>
</div>
</dd>
</dl>
<dl>
<dt>제 13 조 (이용제한 등)</dt>
<dd>
<p>1. “회사”는 “회원”이 이 약관의 의무를 위반하거나 “서비스”의 정상적인 운영을 방해한 경우, 경고, 일시정지, 영구이용정지 등의 서비스 이용제한 조치를 취할 수 있습니다.</p>
<p>2. “회사”는 "주민등록법"을 위반한 명의도용 및 결제도용, 전화번호 도용, "저작권법" 및 "컴퓨터프로그램보호법"을 위반한 불법프로그램의 제공 및 운영방해, "정보통신망법"을 위반한 불법통신 및 해킹, 악성프로그램의 배포, 접속권한 초과행위 등과 같이 관련법을 위반한 경우에는 즉시 영구이용정지를 할 수 있습니다.</p>
<p>3. 회사는 회원이 계속해서 1년 이상 로그인하지 않는 경우, 회원정보의 보호 및 운영의 효율성을 위해 이용을 제한할 수 있습니다.</p>
<p>4. 본 조의 이용제한 범위 내에서 제한의 조건 및 세부내용은 회사의 이용제한정책에서 정하는 바에 의합니다.</p>
<p>5. 본 조에 따라 서비스 이용을 제한하거나 계약을 해지하는 경우에는 회사는 제15조[회원에 대한 통지]에 따라 통지합니다.</p>
<p>6. “회원”은 본 조에 따른 이용제한 등에 대해 “회사”가 정한 절차에 따라 이의신청을 할 수 있습니다. 이 때 이의가 정당하다고 회사가 인정하는 경우 “회사”는 즉시 서비스의 이용을 재개합니다.</p>
<p>7. 본 조에 따라 이용제한이 되는 경우 서비스 이용을 통해 획득한 혜택 등도 모두 이용중단, 또는 소멸되며, “회사”는 이에 대해 별도로 보상하지 않습니다.</p>
</dd>
</dl>
<dl>
<dt>제 14 조 (권리의 귀속)</dt>
<dd>
  <p>1. “서비스”에 대한 저작권 및 지적재산권은 “회사”에 귀속됩니다. 단, “회원”의 "게시물" 및 제휴계약에 따라 제공된 저작물 등은 제외합니다.</p>
  <p>2. “회사”가 제공하는 “서비스”의 디자인, “회사”가 만든 텍스트, 스크립트(script), 그래픽, “회원” 상호간 전송 기능 등 “회사”가 제공하는 “서비스”에 관련된 모든 상표, 서비스 마크, 로고 등에 관한 저작권 기타 지적재산권은 대한민국 및 외국의 법령에 기하여 “회사”가 보유하고 있거나 “회사”에게 소유권 또는 사용권이 있습니다.</p>
  <p>3. “회원”은 이 이용약관으로 인하여 서비스를 소유하거나 “서비스”에 관한 저작권을 보유하게 되는 것이 아니라, “회사로부터 서비스의 이용을 허락 받게 되는바, 정보취득 또는 개인용도로만 “서비스”를 이용할 수 있습니다.</p>
  <p>4. “회원”은 명시적으로 허락된 내용을 제외하고는 “서비스”를 통해 얻어지는 정보를 영리 목적으로 사용, 복사, 유통하는 것을 포함하여, “회사”가 만든 텍스트, 스크립트, 그래픽의 “회원” 상호간 전송기능 등을 복사하거나 유통할 수 없습니다.</p>
  <p>5. “회사”는 서비스와 관련하여 “회원”에게 “회사”가 정한 이용조건에 따라 계정, ID, 콘텐츠 등을 이용할 수 있는 이용권만을 부여하며, 이용자는 회사를 이용함으로써 얻은 정보를 회사의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 등 기타 방법에 의하여 영리 목적으로 이용하거나 제3자에게 이용, 양도, 판매, 담보목적으로 제공하여서는 안됩니다.</p>
</dd>
</dl>
<dl>
<dt>제 15 조 (회원에 대한 통지)</dt>
<dd>
  <p>1. “회사”가 “회원”에 대한 통지를 하는 경우, “회원”이 가입신청 시 “회사”에 제출한 전자우편 주소나 휴대전화번호 등으로 할 수 있습니다.</p>
  <p>2. “회사”는 불특정다수 “회원”에 대한 통지의 경우, 1주일 이상 사이트에 게시함으로써 개별 통지에 갈음할 수 있습니다.</p>
</dd>
</dl>
<dl>
<dt>제 16 조 (회사의 의무)</dt>
<dd>
  <p>1. “회사”는 관련법과 이 약관이 금지하거나 미풍양속에 반하는 행위를 하지 않으며, 계속적이고 안정적으로 “서비스”를 제공하기 위하여 최선을 다하여 노력합니다.</p>
  <p>2. “회사”는 “회원”이 안전하게 “서비스”를 이용할 수 있도록 개인정보(신용정보 포함)보호를 위해 개인정보취급방침을 수립하여 공시하고 준수합니다.</p>
  <p>3. 회사는 관계 법령이 정한 의무사항을 준수합니다.</p>
</dd>
</dl>
<dl>
<dt>제 17 조 (개별 서비스에 대한 약관 및 이용조건)</dt>
<dd>
  <p>1. “회사”는 개별 서비스와 관련한 별도의 약관 및 이용정책을 둘 수 있으며, 개별서비스에서 별도로 적용되는 약관에 대한 동의는 “회원”이 개별서비스를 최초로 이용할 경우 별도의 동의절차를 거치게 됩니다. 이 경우 개별 서비스에 대한 이용약관 등이 본 약관에 우선합니다.</p>
  <p>2. 전항에도 불구하고 “회사”는 개별 서비스에 대한 이용정책에 대해서는 “서비스”를 통해 공지할 수 있으며, “이용자”는 이용정책을 숙지하고 준수하여야 합니다.</p>
</dd>
</dl>
<dl>
<dt>제 18 조 (개인정보보호)</dt>
<dd>
  <p>1. “회사”는 “회원”의 개인정보를 보호하기 위하여 정보통신망법 및 개인정보 보호법 등 관계 법령에서 정하는 바를 준수합니다.</p>
  <p>2. “회사”는 “회원”의 개인정보를 보호하기 위한 개인정보취급방침을 수립하여 서비스 초기화면에 게시합니다. 다만, 개인정보취급방침의 구체적 내용은 연결화면을 통하여 볼 수 있습니다.</p>
  <p>3. “회사”는 관련법령 및 개인정보취급방침에 따라 “회원”의 개인정보를 최대한 보호하기 위하여 노력합니다.</p>
  <p>4. “회사”의 공식 사이트 이외의 링크된 사이트에서는 “회사”의 개인정보취급방침이 적용되지 않습니다. 링크된 사이트 및 구매 상품이나 서비스를 제공하는 제3자의 개인정보 취급과 관련하여는 해당 사이트 및 해당 제3자의 개인정보취급방침을 확인할 책임이 “회원”에게 있으며, “회사”는 이에 대하여 책임을 부담하지 않습니다.</p>
</dd>
</dl>
<dl>
<dt>제 19 조 (주문 및 결제)</dt>
<dd>
  <p>1. “재화 등”에 대한 매매계약은 “회원”이 “업주”가 제시한 상품의 판매 조건에 응하여 청약의 의사표시를 하고 이에 대하여 “업주”가 승낙의 의사표시를 함으로써 “회원”과 “업주”간에 체결됩니다.</p>
  <p>2. “회원”은 다음 또는 이와 유사한 방법에 의한 구매를 신청할 수 있습니다.</p>
  <div class="help">
  <p>1) 바로구매 링크를 통한 제 3의 페이지에서의 구매</p>
  </div>
  <p>3. “회사”가 “업주” 등 제3자에게 이용자의 개인정보를 제공할 필요가 있는 경우 ① 개인정보를 제공받는 자, ② 개인정보를 제공받는 자의 개인정보 이용목적, ③ 제공하는 개인정보의 항목, ④ 개인정보를 제공받는 자의 개인정보 보유 및 이용기간을 구매자에게 알리고 동의를 받습니다.</p>
  <p>4. “회사”가 제3자에게 구매자의 개인정보를 취급할 수 있도록 업무를 위탁하는 경우에는 ① 개인정보 취급위탁을 받는 자, ② 개인정보 취급위탁을 하는 업무의 내용을 구매자에게 알리고 동의를 받습니다. 다만, 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」에서 정하고 있는 방법으로 개인정보 취급방침을 통해 알림으로써 동의절차를 갈음할 수 있습니다.</p>
  <p>5. “회원”이 바로구매 링크를 통해 제3자의 사이트에서 업주에게 직접 주문을 경우, 회사는 주문내역 및 취소, 환불, 거래정보 등에 대해 관여하거나, 이에 대한 일체의 책임을 부담하지 않습니다.</p>
</dd>
</dl>
<dl>
<dt>제 20 조 (책임제한)</dt>
<dd>
  <p>1. “회사”는 천재지변 또는 이에 준하는 불가항력으로 인하여 “서비스”를 제공할 수 없는 경우에는 서비스 제공에 관한 책임이 면제됩니다.</p>
  <p>2. “회사”는 “회원”의 귀책사유로 인한 “서비스” 이용의 장애에 대하여는 책임을 지지 않습니다.</p>
  <p>3. “회사”는 제3자가 서비스 내 화면 또는 링크된 웹사이트를 통하여 광고한 제품 또는 서비스의 내용과 품질에 대하여 감시할 의무 기타 어떠한 책임도 지지 아니합니다.</p>
  <p>4. “회사”는 “회원”이 서비스를 이용하여 기대하는 수익을 상실한 것에 대하여 책임을 지지 않으며, 그 밖의 서비스를 통하여 얻은 자료로 인한 손해에 관하여 책임을 지지 않습니다.</p>
  <p>5. “회사”는 “회원”간 또는 “회원”과 제3자 상호간에 서비스를 매개로 하여 거래 등을 한 경우에는 책임이 면제됩니다.</p>
  <p>6. “회사” 및 “회사”의 임직원 그리고 대리인은 고의 또는 중대한 과실이 없는 한 다음과 같은 사항으로부터 발생하는 손해에 대해 책임을 지지 아니합니다.</p>
  <div class="help">
  <p>1) 회원 정보의 허위 또는 부정확성에 기인하는 손해</p>
  <p>2) 서비스에 대한 접속 및 서비스의 이용과정에서 “회원”의 귀책사유로 발생하는 손해</p>
  <p>3) 서버에 대한 제3자의 모든 불법적인 접속 또는 서버의 불법적인 이용으로부터 발생하는 손해 및 제3자의 불법적인 행위를 방지하거나 예방하는 과정에서 발생하는 손해</p>
  <p>4) 제3자가 서비스를 이용하여 불법적으로 전송, 유포하거나 또는 전송, 유포되도록 한 모든 바이러스, 스파이웨어 및 기타 악성 프로그램으로 인한 손해</p>
  </div>
</dd>
</dl>
<dl>
<dt>제 21 조 (분쟁해결)</dt>
<dd>
  <p>1. “회사”는 이용자가 제기하는 정당한 의견이나 불만을 반영하고 그 피해를 보상처리하기 위하여 고객상담 및 피해보상처리기구를 설치・운영합니다.</p>
  <p>2. “회사”는 이용자로부터 제출되는 불만사항 및 의견은 우선적으로 그 사항을 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 이용자에게 그 사유와 처리일정을 즉시 통보해 드립니다.</p>
  <p>3. “회사”와 이용자 간에 발생한 전자상거래 분쟁과 관련하여 이용자의 피해구제신청이 있는 경우에는 공정거래위원회 또는 시·도지사가 의뢰하는 분쟁조정기관의 조정에 따를 수 있습니다.</p>
</dd>
</dl>
<dl>
<dt>제 27 조 (준거법 및 관할법원)</dt>
<dd>
  <p>1. 이 약관의 해석 및 회사와 회원간의 분쟁에 대하여는 대한민국의 법을 적용합니다.</p>
  <p>2. 서비스 이용 중 발생한 회원과 회사간의 소송은 민사소송법에 의한 관할법원에 제소합니다.</p>
</dd>
</dl>
<dl>
<dt><부칙></dt>
<dd>
  <p>1. 이 약관은 2017년 06월 30일부터 시행됩니다.</p>
</dd>
</dl>
  </section>
</div>