:host > button{
    display: inline-block;
    background-color: #00c83c;
    color: white;
    width: 18rem;
    padding: .3rem 2rem;
    height: 38px;
    border-radius: 19px;
    margin: .5rem !important;
    border-bottom: none;
}
:host > button:hover{
    transition : none;
    border-bottom: none;
}