<div class="wrap">
  <h2>문의하기</h2>
  <hr>
  <div class="info">
    <strong>카카오톡 플러스친구</strong>
    <p>카카오아이디를 보유하신 고객님께서는 카카오톡 플러스친구(@사운드픽)를 통하여 상담을 받아보실 수 있습니다.</p>
    <div class="options">
      <a id="kakao-pf-link" target="_blank" href="http://pf.kakao.com/_xmXWwxd">
          <img src="assets/image/kakao_banner_type@2x.png">
        </a>
    </div>
  </div>
  <div class="info">
    <strong>네이버톡톡</strong>
    <p>네이버아이디를 보유하신 고객님께서는 네이버톡톡 서비스를 통하여 상담을 받아보실 수 있습니다.</p>
    <div class="options">
      <a id="naver-talk-link" target="_blank" href="http://talk.naver.com/wc9tzn">
          <img src="assets/image/naver_banner_type@2x.png">
        </a>
    </div>
  </div>
  <div class="info">
    <strong>유선전화</strong>
    <p>유선전화로 직접 직원과 상담을 받아보실 수 있습니다. (영업시간 : 평일 오전 10시 ~ 오후 6시)</p>
    <div class="options">
      <a href="tel:07078140007">070-7814-0007로 연결하기</a>
    </div>
  </div>
</div>