:host{
    display: block;
    overflow: auto;
    background-color: #fff;
    min-height: calc(100% - 9.8125rem);
}

#kakao-pf-link,
#naver-talk-link{
    display: inline-block;
    max-width : 100%;
    max-height: 240px;
    width: 780px;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border-bottom: none;
}
#kakao-pf-link img,
#naver-talk-link img{
    max-width: 100%;
    max-height: 100%;
}