#is-loading{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color:#fff;
    text-align: center;
    padding-top: 20%;
    opacity: 1;
}
#is-loading img{
    width: 17rem;
    max-width: 50%;
}
#is-loading p{
}
#is-loading .if-error{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: 12px;
    color: #888;
    text-align: center;
}