section.qna{
    display: block;
    position: relative;
}
dt{
    position: relative;
    display: block;
    font-size: 1.5rem;
    margin-top: 20px;
}
dt:before{
    content: "Q. ";
}
dd{
    position: relative;
    display: block;
    font-size: 1rem;
    width: 100%;
padding-top: 10px;
padding-bottom: 12px;
padding-left: calc(18px + 12px);
padding-right: 12px;
margin-left: 0;
}
dd:before{
    content: "";
position: absolute;
top: 4px;
bottom: 0;
left: 8px;
width: 4px;
background-color: #87d5ff;
}
dd h2{
    font-size: 1.2rem;
}