<div class="wrap">
<h1>사픽케어 서비스 안내</h1>
<hr>
<section class="qna">
<dt>어떤 타입(서비스)가 있는지</dt>
<dd>
<h2>A타입</h2>
<p>외형 파손 없는 단선, 유닛 장애에 한하여 보증</p>
</dd>
<dd>
<h2>B타입</h2>
<p>외형 파손을 포함한 제품불량 보증. 최대 2회까지 보증</p>
</dd>
<dd>
<h2>공통</h2>
<p>택배송달비용(보내는 택배)는 본인부담.</p>
</dd>
<dt>구입하면 어떤 혜택이 있는지</dt>
<dd><p>기본 보증기간(1개월) 기준 6개월 추가 보증</p></dd>
<dt>보증연장</dt>
<dd>
  <p>보증기간 내, 추가 구매 시 보증만료일로부터 6개월 추가 보증(횟수제한없음)</p>
</dd>
<dt>환불</dt>
<dd>
<p>1회 이상 서비스 받은 이력 존재 시, 환불 불가</p>
<p>결제일로부터 7일 이내 전액 환불</p>
</dd>
<dt>이전</dt>
<dd>
<p>1회 이상 서비스 받은 이력 존재 시, 이전 불가</p>
<p>기존 제품의 구입일로부터 30일 이내에 동일한 제품으로 이전 가능</p>
<p>(구입일로부터 30일이 초과하였거나, 동일한 제품이 아닐 시 이전 불가)</p>
</dd>
<dt>보증 업그레이드</dt>
<dd>
<p>보증기간 만료일 전 언제든지 낮은 단계의 보증타입을 높은 단계의 보증타입으로 변경가능</p>
<p>보증타입 변경 시, 차액 지불</p>
</dd>
<dt>서비스 만료</dt>
<dd>
<p>서비스 만료 1달 전 일괄공지 예정</p>
<p>구입일로부터 30일이 초과한 날을 기준으로 서비스만료일로부터 보증만료예정일까지의 기간을 제한 일자분을 제외한 금액 환불</p>
<p>(1 - 기본보증만료일의 익일 / (보증만료예정일 - 서비스만료일)) * 보증구매액 = 환불예정금액</p>
</dd>
</section>
</div>