<div class="wrap">
  <h2>제품 확인</h2>
  <hr>
  <app-serial-validator 
  (receivePkeyId)="jumpTo($event)"></app-serial-validator>
  <div class="help" *ngIf="_loginGuide">
    <strong>더 자세한 정보 확인을 하기 위해서는 로그인 또는 번호인증이 필요합니다.</strong>
    <p>
      로그인 하시면, 제품의 영수증관리 및 케어서비스 구매, 제품의 정보에 관해 알아보실 수 있습니다. 아래 버튼을 클릭하여 바로 로그인 또는 번호인증을 하실 수 있습니다.
    </p>
    <div class="options" style="text-align:center;">
      <a id="do-login" href="{{ _redirect_url }}">로그인 또는 번호인증하기</a>
    </div>
  </div>
  <section id="help">
    <div id="serial-image">
      <img src="assets/image/serial-place.png">
    </div>
    <strong>문의사항이 있으신가요?</strong>
    <p>
      <img src="assets/image/care-logo-black-large.png">
      <span>에 직접 문의하실 수 있습니다.</span>
    </p>
    <a href="tel:07078140007" id="phone">
    <i class="fonti um-phone-square"></i>
    070-7814-0007
  </a>
    <a href="http://pf.kakao.com/_xmXWwxd" id="kakao" target="_blank">
    <i class="fonti um-kakao-talk-o"></i>
    카카오톡
  </a>
    <a href="https://talk.naver.com/ct/wc9tzn" id="naver" target="_blank">
    <i class="fonti um-naver"></i>
    네이버톡톡
  </a>
</section>
</div>