:host{
    display: block;
    overflow: auto;
    background-color: #fff;
    color: #111;
    min-height: calc(100% - 9.8125rem);
}

section{
    text-align: center;
    margin: 3rem 0;
}
section > strong{
    font-size: 1.2rem;
}
section > .options{
    
}

#non-registed,
#buy-care,
#non-registed-care-info,
#registed-care-info,
#upgrade-care
{
    float: left;
    display: block;
    width: 50%;
}
#non-registed > figure,
#buy-care > figure,
#non-registed-care-info > figure,
#registed-care-info > figure,
#upgrade-care > figure
{
    text-align: center;
    margin: 0;
    margin-top: 5rem;
    padding: 0;
}
#non-registed > figure > img,
#buy-care > figure > img,
#non-registed-care-info > figure > img,
#registed-care-info > figure > img,
#upgrade-care > figure > img
{
    width: 11rem;
    max-width: 90%;
}
#non-registed > figure > figcaption,
#buy-care > figure > figcaption,
#non-registed-care-info > figure > figcaption,
#registed-care-info > figure > figcaption,
#upgrade-care > figure > figcaption
{
    font-size: 1.6875rem;
    font-weight: 400;
    text-align: center;
    margin: 3rem auto;
}
#non-registed > dl,
#buy-care > dl,
#non-registed-care-info > dl,
#registed-care-info > dl,
#upgrade-care > dl
{
    display: block;
}
#non-registed > dl > dt,
#buy-care > dl > dt,
#non-registed-care-info > dl > dt,
#registed-care-info > dl > dt,
#upgrade-care > dl > dt
{
    display: inline-block;
    text-align: left;
    font-size: 1.6875rem;
    font-weight: 200;
}
#non-registed > dl > dd,
#buy-care > dl > dd,
#non-registed-care-info > dl > dd,
#registed-care-info > dl > dd,
#upgrade-care > dl > dd
{
    display: inline-block;
    font-size: 1.6875rem;
    font-weight: 400;
}
#non-registed > .options,
#buy-care > .options,
#non-registed-care-info > .options,
#registed-care-info > .options,
#upgrade-care > .options
{
    text-align: center;
}
#non-registed > .options > a,
#buy-care > .options > a,
#non-registed-care-info > .options > a,
#registed-care-info > .options > a,
#upgrade-care > .options > a
{
    display: inline-block;
    margin: 1rem;
}

#do-login-button{
    display: inline-block;
    background-color: #ff1b51;
    color: white;
    width: 18rem;
    padding: .3rem 2rem;
    height: 38px;
    border-radius: 19px;
    margin: .5rem !important;
    border-bottom: none;
}
#do-login-button:hover{
    transition : none;
    border-bottom: none;
}

#help{
    text-align: center;
    margin: 30px 0;
    padding: 50px 1%;
    background-color: transparent;
}
#help #serial-image{
    width: 100%;
}
#help #serial-image img{
    width: 100%;
    max-width: 500px;
    border: 1px solid black;
    border-radius: 1rem;
}
#help strong{
    display: block;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
    margin: 10px;
    margin-top: 3rem;
}
#help a{
    max-width: 320px;
    margin: .5rem auto;
    display: block;
    font-size: 1.3rem;
    font-weight: 300;
    text-decoration: none;
    color: #0070c9;
    border-bottom: none;
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
#help a:hover{
    text-decoration: underline;
}
#help a#phone{
    background-color: #333;
    color: white;
}
#help a#phone i{
    color: white;
}
#help a#kakao{
    background-color: #FAE100;
    color: #473434;
}
#help a#kakao i{
    color: #3C1E1E;
}
#help a#naver{
    background-color: #00C73C;
    color: white;
}
#help a#naver i{
    color: white;
}
#help p{
    text-align: center;
}
#help p img{
    vertical-align:center;
    height: 1.5rem;
}
#help p span{
    vertical-align: center;
    font-size: 1.3rem;
}