<div class="wrap">
<h2>영수증 첨부방법</h2>
<ol>
  <li> 온라인 구매 시
    <div>
      <p>구입하신 온라인 스토어의 구매기록을 printscreen으로 캡쳐하셔서 업로드 해 주시기 바랍니다.</p>
      <figure>
        <img src="assets/image/receipt-online.png">
        <figcaption>
          PC화면 예시
        </figcaption>
      </figure>
      <figure>
        <img src="assets/image/receipt-m-online.png">
        <figcaption>
          모바일화면 예시
        </figcaption>
      </figure>
    </div>
  </li>
  <li> 오프라인 구매 시
    <div>
      <p>구매하신 매장에서 교부받은 영수증을 사진으로 찍어서 업로드 해 주시기 바랍니다.</p>
      <figure>
        <img>
      </figure>
    </div>
  </li>
</ol>
</div>