:host{
    display: block;
    background-color: #fff;
    overflow: auto;
    min-height: calc(100% - 9.8125rem);
}
h2{
    text-align: center;
    font-size: 4rem;
}
ol{
    margin: 0;
    padding: 0;
}
ol > li{
    margin: 3rem;
    list-style-type: decimal;
    font-size: 2rem;
}
ol > li > div{
    overflow: hidden;
}
ol > li > div > figure{
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
    width: 50%;
    min-width: 320px;
    text-align: center;
}
ol > li > div > figure > img{
    max-width: 100%;
    max-height: 25.375rem;
}
ol > li > div > figure > figcaption{
    color: #777;
    font-size: 1.4rem;
}
ol > li > div > p{
    font-size: 1.4rem;
}