<dl>
  <dt>구매대상</dt>
  <dd>
    <div *ngIf="target.pkey.care.wrty_type == 'INVALID'">
      <label>
          <input type="radio" name="target" 
          value="3900" (click)="emitSelectInfo('사픽케어', 3900)">
          <span>사픽케어(3900원)</span>
        </label>
    </div>
    <div *ngIf="target.pkey.care.wrty_type == 'INVALID'">
      <label>
          <input type="radio" name="target" 
          value="5900" (click)="emitSelectInfo('사픽케어 플러스', 5900)">
          <span>사픽케어 플러스(5900원)</span>
        </label>
    </div>
    <div *ngIf="target.pkey.care.wrty_type == 'BASIC'">
      <label>
        <input type="radio" name="target" 
          value="2000" (click)="emitSelectInfo('사픽케어 플러스 업그레이드', 2000)">
          <span>사픽케어 플러스 업그레이드(2000원)</span>
      </label>
    </div>
  </dd>
</dl>