<div class="wrap">
  <h2>결제 실패/오류 안내</h2>
  <hr>
  <div class="help">
    <strong>알 수 없는 오류로 결제에 실패하였습니다.</strong>
    <p>사용자가 직접 결제를 취소하였습니다.</p>
    <p>만약 정상적인 경로를 통해 결제를 시도했음에도 불구하고, 이와 같은 메세지를 보게 되신다면 070-7814-0007로 연락하여 주시기 바랍니다.</p>
  </div>
</div>