<section id="_intro">
    <div class="wrap">
        <!--<img class="logo" src="assets/image/care-logo-black-large.png">-->
        <h1>SOUNDPick이 제공하는<br>수리 보증 서비스 및 지원을<br>받을 수 있습니다.</h1>
        <p>제품이 여전히 보증 적용대상인지 확인하고<br>SOUNDPick CARE 보증서비스를 구입할 수 있습니다. </p>
        <div class="go-valid">
            <a routerLink="/serial/valid">인증하기</a>
        </div>
        <!-- <ul>
            <li>
                <a routerLink="/serial/valid">
                    <figure>
                        <img src="assets/image/config-link-icon.png">
                        <figcaption>제품 관리 및 등록</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a routerLink="/serial/valid">
                    <figure>
                        <img src="assets/image/buy-link-icon.png">
                        <figcaption>구매하기</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a routerLink="/serial/valid">
                    <figure>
                        <img src="assets/image/as-link-icon.png">
                        <figcaption>AS 신청</figcaption>
                    </figure>
                </a>
            </li>
        </ul> -->
    </div>
</section>
<section id="_warranty">
    <div class="wrap">
        <h1>
            SOUNDPick CARE 서비스 선택
        </h1>
        <strong>
            모든 제품은 각각의 명시된 보증 기간동안 서비스를 받을 수 있습니다.
            <br>
            또한, 사운드픽 케어 서비스를 통해 보증기간을 추가로 연장할 수 있습니다.
        </strong>
        <div class="service-icon">
            <figure>
                <img src="assets/image/care-basic-icon.png">
                <figcaption>SOUNDPick<br>CARE</figcaption>
            </figure>
            <figure>
                <img src="assets/image/care-plus-icon.png">
                <figcaption>SOUNDPick<br>CARE Plus</figcaption>
            </figure>
        </div>
        <table class="comparison">
            <tr>
                <th rowspan="2">SOUNDPick CARE</th>
                <td><span class="rength fill gray"></span></td>
                <td><span class="rength fill"></span></td>
                <td><span class="rength"></span></td>
                <td><span class="rength"></span></td>
            </tr>
            <tr>
                <td>기본 보증기간</td>
                <td>보증기간 연장</td>
                <td colspan="2">(파손 시 서비스 제외)</td>
            </tr>
            <tr>
                <th rowspan="2">SOUNDPick CARE PLUS</th>
                <td><span class="rength fill gray"></span></td>
                <td><span class="rength fill"></span></td>
                <td><span class="rength fill"></span></td>
                <td><span class="rength fill"></span></td>
            </tr>
            <tr>
                <td>기본 보증기간</td>
                <td>보증기간 연장</td>
                <td colspan="2">파손 시 최대 2회 무상서비스(과실 포함)</td>
            </tr>
        </table>
    </div>
</section>
<section id="_qna">
    <div class="wrap">
        <dl>
            <dt>
                어떤 타입의 서비스가 있나요?
            </dt>
            <dd>
                <label>SOUNDPick CARE :</label>
                <p>외형 파손 없는 단선, 유닛 장애에 한하여 보증합니다.</p>
                <label>
                    SOUNDPick CARE PLUS :
                </label>
                <p>외형 파손을 포함한 제품불량에 대해 최대 2회까지 보증합니다.</p>
                <div class="help">
                    <p>단, <b>보내는 택배</b> 비용은 <b>본인부담</b>이며, 받는 택배는 사운드픽 케어에서 지불합니다.</p>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>
                구입하면 어떤 혜택이 있나요?
            </dt>
            <dd>
                <p>기본 보증기간이 지난 후에도 추가적으로 보증서비스를 받으실 수 있습니다.</p>
            </dd>
        </dl>
        <dl>
            <dt>보증 연장이 가능한가요?</dt>
            <dd>
                <p>보증기간 내 추가 구매 시 보증만료일 이후에도 추가적으로 보증서비스를 받으실 수 있습니다.(횟수제한없음)</p>
            </dd>
        </dl>
        <dl>
            <dt>
                구매 후 환불 할 수 있나요?
            </dt>
            <dd>
                <p>결제일로부터 7일 이내 전액 환불이 가능합니다.</p>
                <p>단, 1회 이상 서비스 받은 이력 존재 시, 환불이 불가능합니다.</p>
            </dd>
        </dl>
        <dl>
            <dt>
                보증 대상 이전이 가능한가요?
            </dt>
            <dd>
                <p>기존 제품의 구입일로부터 30일 이내에 동일한 제품으로 이전이 가능합니다.</p>
                <p>단, 이전 제품으로 1회 이상 보증서비스를 받은 이력이 존재 시, 보증 대상 이전이 불가능합니다.</p>
                <div class="help">
                    <p>(구입일로부터 30일이 초과하였거나, 동일한 제품이 아닐 시 이전이 불가능합니다.)</p>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>
                상위 서비스로 업그레이드가 가능한가요?
            </dt>
            <dd>
                <p>보증기간 만료일 전 언제든지 낮은 단계의 보증타입을 높은 단계의 보증타입으로 변경이 가능합니다.</p>
                <p>보증타입 변경 시, 차액만 지불하여 변경하실 수 있습니다.</p>
            </dd>
        </dl>
        <dl>
            <dt>
                서비스 만료 시, 금액을 환불받을 수 있나요?
            </dt>
            <dd>
                <p>사운드픽 케어는 부득이한 사정으로 서비스 만료 시 서비스 만료 예정일 1개월 전 일괄공지 할 예정이며, 
                    서비스 만료일로부터 보증 만료 예정일까지의 기간에 상당하는 금액을 환불합니다.</p>
            </dd>
        </dl>
    </div>
</section>