section{
    text-align: center;
    padding: 5rem 0;
}

section#_intro{
    text-align: center;
    background-color: #fff;
    overflow: hidden;
}
section#_intro .go-valid{
    text-align: center;
}
section#_intro .go-valid a{
    display: inline-block;
    background-color: #ff1b51;
    color: #fff;
    width: 18rem;
    padding: .3rem 2rem;
    height: 2.875rem;
    border-radius: 1.4375rem;
    margin: .5rem !important;
    border-bottom: none;
    font-size: 1.575rem;
}
section#_intro .logo{
    width : 34.75rem;
    max-width: 80%;
}
section#_intro h1{
    display: block;
    margin: 2.5rem 0;
}
section#_intro ul{
    display: block;
    margin: 6.25rem auto;
    padding: 0;
    overflow: hidden;
}
section#_intro ul > li{
    display: inline-block;
    vertical-align: top;
    width : calc((100% / 3) - 5px);
    max-width: 16rem;
}
section#_intro ul > li > a{
    text-decoration: none;
    border-bottom: none;
}
section#_intro ul > li > a > figure{
    text-align: center;
    padding: 0;
    margin: 0;
    vertical-align: top;
}
section#_intro ul > li > a > figure > img{
    width : 5rem;
}
section#_intro ul > li > a > figure > figcaption{
    font-size: 1.25rem;
}

section#_warranty{
    background-image: url('/assets/image/bg-select-service.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
}

section#_warranty h1{
    text-align: center;
}

section#_warranty strong{
    display: block;
    font-weight: 400;
    margin: 3.125rem auto;
}

section#_warranty .service-icon{
    width: 100%;
    margin: 3.125rem auto;
    overflow: hidden;
    text-align: center;
}
section#_warranty .service-icon > figure{
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 3rem;
    max-width: 48%;
}

section#_warranty .service-icon > figure > img{
    width: 11rem;
    max-width: 90%;
}

section#_warranty .service-icon > figure > figcaption{
    font-size: 1.6875rem;
}

section#_warranty table.comparison{
    width: 90%;
    margin: 3.125rem auto;
}
section#_warranty table.comparison tr:nth-of-type(1),
section#_warranty table.comparison tr:nth-of-type(3)
{
    
}
section#_warranty table.comparison tr > td,
section#_warranty table.comparison tr > td
{
    padding: 0.2rem;
}
section#_warranty table.comparison tr:nth-of-type(1) > th,
section#_warranty table.comparison tr:nth-of-type(3) > th
{
    width : calc(14.2857143% * 2);
    padding: 0.2rem;
    vertical-align: top;
    text-align: right;
}
section#_warranty table.comparison tr:nth-of-type(1) > td,
section#_warranty table.comparison tr:nth-of-type(3) > td
{
    width : 14.2857143%;
}
section#_warranty table.comparison tr:nth-of-type(1) > td:nth-of-type(2),
section#_warranty table.comparison tr:nth-of-type(3) > td:nth-of-type(2)
{
    width : calc(14.2857143% * 2);
}
section#_warranty table.comparison tr:nth-of-type(2) > td,
section#_warranty table.comparison tr:nth-of-type(4) > td
{
    text-align: center;
    vertical-align: top;
    padding-bottom: 1rem;
}
section#_warranty .rength{
    display: inline-block;
    width: 100%;
    height: 1.25rem;
    border-radius : 0.625rem;
    border: 0.0625rem solid rgba(255,255,255,0.3);
}
section#_warranty .rength.fill{
    border: 0.0625rem solid #ff1b51;
    background-color: #ff1b51;
}
section#_warranty .rength.fill.gray{
    border: 0.0625rem solid rgba(255,255,255,0.3);
    background-color: rgba(255,255,255,0.3);
}

section#_qna{
    background-color: #18191b;
    color: #fff;
}

section#_qna dl{
    margin: 0 auto;
    padding: 0;
    margin: 0;
}
section#_qna dl > dt{
    padding: 0;
    padding-left: 1rem;
    margin: 1rem auto;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 200;
    color: #ff1b51;
}
section#_qna dl > dt:before{
    content: 'Q. ';
}
section#_qna dl > dd{
    padding: 0;
    padding-left: 2rem;
    margin: 0;
    margin-bottom: 3rem;
    text-align: left;
    font-size: 1.125rem;
    color: #fff;
}
section#_qna dl > dd > label{
    display: block;
    font-size: 1.125rem;
    color: #fff;
}
section#_qna dl > dd > p{
    font-size: 1.125rem;
    color: #fff;
}
section#_qna dl > dd > p.help{
    font-size: 1.125rem;
    font-weight: 200;
}