:host{
    display: inline-block;
}
#receipt-upload{
    display: inline-block;
}
.image-select{
    display: inline-block;
}
.image-select > input[type=file]{
    display: none;
}
i.fonti{
    display: block;
    font-size: 3rem;
    text-align: center;
    padding-left: 0.6rem;
}