<form id="recept-upload">
  <div class="image-select">
    <input imageuploader type="file" name="upload_file" (uploadedFilename)="updateCareInfo($event)"
    accept=".jpg,.png,.gif,.jpeg,.JPG,.PNG,.GIF,.JPEG">
    <button onclick="this.previousElementSibling.click()">
      <i class="fonti um-file-plus-o"></i>
      영수증 업로드
    </button>
  </div>
</form>