:host{
    display: block;
    background-color: #fff;
    overflow: auto;
    min-height: calc(100% - 9.8125rem);
    padding: 3rem 0;
}

#semi-receipt{
    margin-top: 2rem;
}
#semi-receipt th{
    min-width: 6.5rem;
}
#semi-receipt td{
    padding-right: 2rem;
}

.options{
    text-align: center;
}