<div class="wrap">
  <h2>결제결과</h2>
  <hr>
  <div class="info">
    <strong *ngIf="resp.message == 'SUCCESS' && resp.response.status == 'paid'">
    결제에 성공하였습니다.
    </strong>
    <strong *ngIf="resp.message == 'SUCCESS' && resp.response.status == 'ready' && resp.response.pg_tid">
      입금대기중입니다.
    </strong>
    <strong *ngIf="(resp.message != 'SUCCESS' || resp.response.status != 'paid') && resp.response.pg_tid == null">
    결제에 실패하였습니다.
    </strong>
    <p *ngIf="resp.message == 'PAYMENT_RESPONSE_IS_NOT_EXIST'">
      (결제정보 전송에 오류가 발생했습니다.)
    </p>
    <p *ngIf="(resp.message != 'SUCCESS' || resp.response.status != 'paid') && resp.response.pg_tid == null">
      사용자가 결제를 취소하였습니다.
    </p>
    <p *ngIf="resp.message == 'SUCCESS' && resp.response.status == 'ready' && resp.response.pg_tid">
      가상계좌/무통장입금 방식으로 결제가 이루어졌습니다. 24시간 이내에 입력하신 입금자명으로 금액을 입금해 주시기 바랍니다.
    </p>
    <table id="semi-receipt" *ngIf="resp.response">
      <tr>
        <th>주문번호</th>
        <td>{{resp.response.merchant_uid}}</td>
        <th>결제수단</th>
        <td>{{_pay_method_dict[resp.response.pay_method]}}</td>
      </tr>
      <tr>
        <th>주문상품</th>
        <td>{{resp.response.name}}</td>
        <th>
          <span *ngIf="resp.response.status == 'paid'">영수증</span>
          </th>
        <td>
          <a  *ngIf="resp.response.status == 'paid'"
          href="{{resp.response.receipt_url}}" target="_blank">영수증보기</a>
        </td>
      </tr>
      <tr>
        <th>결제금액<span>(예정)</span></th>
        <td>{{resp.response.amount}}원</td>
        <th>
          <span *ngIf="resp.response.status == 'paid'">승인번호</span>
        </th>
        <td>
          <span *ngIf="resp.response.status == 'paid'">{{resp.response.apply_num}}</span>
        </td>
      </tr>
    </table>
  </div>

  <div class="help" *ngIf="resp.message == 'SUCCESS' && resp.response.status == 'ready' && resp.response.pg_tid">
    <strong>입금자명을 반드시 확인해주세요!</strong>
    <p>지정하신 입금자명과 다른 명의로 입금하실 경우, 입금확인이 자동으로 확인되지 않습니다. 당사는 입금자명 오기입으로 인해 발생하는 문제를 책임지지 않습니다.</p>
    <p>만약 입금자명을 변경하고자 하는 경우, 아래의 다시 시도하기를 통하여 다시 결제해주시기 바랍니다.</p>
  </div>
  <div class="help" *ngIf="resp.message == 'SUCCESS' && resp.response.status == 'ready' && resp.response.pg_tid">
    <strong>입금계좌안내</strong>
    <p>무통장입금/계좌이체를 선택하신 경우, 아래의 계좌로 입금하여주시기 바랍니다.</p>
    <dl>
      <dt>은행명/예금주</dt>
      <dd>농협/윤영주</dd>
    </dl>
    <dl>
      <dt>계좌번호</dt>
      <dd>312-0148-0404-41</dd>
    </dl>
  </div>
  <div class="help" *ngIf="resp.response.status == 'paid'">
    <strong>서비스 이용 승인심사중입니다.</strong>
    <p>주문하신 상품은 구입 영수증 확인 후, 빠른 시간 내에 승인하도록 하겠습니다. 승인 불가 시, 개별 연락 후 자동 환불됩니다.</p>
  </div>

  <div class="options">
    <a *ngIf="!resp.response || resp.response.status == 'ready'" onclick="history.back()" class="_next">다시 시도하기</a>
    <a *ngIf="resp.response && resp.response.status == 'paid' && session._info.division != 'GUEST'" routerLink="/serial/list" class="_basic">내 상품 관리</a>
    <a routerLink="/" class="_basic">메인화면으로</a>
  </div>
</div>