<dl>
  <dt>지불방법 선택</dt>
  <dd>
    <div>
      <!-- <label>
        <input type="radio" name="pay_method" value="vbank" 
        [(ngModel)]="pgService._info.pay_method">
        <span>무통장입금</span>
      </label>
      <label>
        <input type="radio" name="pay_method" value="trans" 
        [(ngModel)]="pgService._info.pay_method">
        <span>계좌이체</span>
      </label> -->
      <label>
        <input type="radio" name="pay_method" value="card" 
        [(ngModel)]="pgService._info.pay_method">
        <span>카드결제</span>
      </label>
    </div>
  </dd>
</dl>
<dl *ngIf="pgService._info.pay_method">
  <dt>결제필수정보 입력</dt>
  <dd>
    <div class="input-with-label">
      <label>입금/구매자명</label>
      <br>
      <input type="text" placeholder="(필수입력)" [(ngModel)]="pgService._info.buyer_name" [ngModelOptions]="{standalone:true}">
    </div>
    <div class="input-with-label">
      <label>연락처</label>
      <br>
      <input type="text" placeholder="(필수입력)" [(ngModel)]="pgService._info.custom_data.customer_phone" [ngModelOptions]="{standalone:true}">
    </div>
    <div class="input-with-label">
      <label>이메일</label>
      <br>
      <input type="text" placeholder="(선택입력)" [(ngModel)]="pgService._info.buyer_email" [ngModelOptions]="{standalone:true}">
    </div>
  </dd>
</dl>
<dl id="agree">
  <dt>결제약관동의</dt>
  <dd>
    <div>
      <label>
        <input type="checkbox" [(ngModel)]="pgService._agree[1]" 
        (ngModelOptions)="{standalone:true}">
        <span>
          결제를 위한 <a href="/document/lgu-payment-clause" target="_lgu-payment-clause">제3자 정보제공</a>에 동의합니다.
        </span>
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" [(ngModel)]="pgService._agree[2]" 
        (ngModelOptions)="{standalone:true}">
        <span>
          <a href="/document/lgu-payment-clause" target="_lgu-payment-clause">전자결제약관</a>에 동의합니다.
        </span>
      </label>
    </div>
    <div class="help" *ngIf="!pgService._agree[1]">
      <strong>결제를 위한 제3자 정보제공에 동의해주세요.</strong>
    </div>
    <div class="help" *ngIf="!pgService._agree[2]">
      <strong>전자결제약관에 동의해주세요.</strong>
    </div>
  </dd>
</dl>