/* You can add global styles to this file, and also import other style files */
/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div, span, h1, h2, h3, h4, h5, h6, p, a, label, input, button, strong, small, ul, ol, li, th, td{
	/*font-family: 'Nanum Gothic', '나눔고딕', NanumGothic, 'NanumGothicWeb', '맑은고딕', MalgunGothic, '돋움', Dotum, Helvetica, 'Apple SD Gothic Neo', Sans-serif !important;*/
    /*font-family: "Yoon Gothic", "Apple Gothic", "HY Gulim", "MalgumGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif;*/
    /* font-family: 'Noto Sans KR', sans-serif !important; */
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif' !important;
}

html, body{
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    background-color: #f2f4f7;
    font-size: 16px;
}
@media all and (max-width: 1100px){
    html, body{
        font-size: 2vmin;
        -ms-font-size: 2vw;
    }
}
@media all and (max-width: 640px){
    html, body{
        font-size: 2.9vmin;
        -ms-font-size: 2.9vw;
    }
}
/*각 컴포넌트의 font-size는 (px값/16)rem으로 정의하였음.*/

[hidden]{
    display: none !important;
}
a img{
border: 0px;
}

a, button{
    cursor: pointer;
}

a, a:hover, a:visited, a:visited{
    color : #0070c9;
    text-decoration: none;
}

h1{
    display: block;
    font-weight: 200;
}

h2{
    display: block;
    font-weight: 200;
}

a,
button
{
    display: inline-block;
    margin: 0.5rem;
    margin-left: 0;
    padding: .3rem 0rem;
    border: none;
    border-bottom: .0625rem solid #0070c9;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    font-size: 1.125rem;
    color: #0070c9;
    vertical-align: text-bottom;
}
a.red,
button.red
{
    color: #ff1b51;
    border-bottom: .0625rem solid #ff1b51;
}
a:hover,
button:hover
{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-bottom: 0.0625rem solid #ff1b51;
}
button:disabled{
    color: #999;
    border-bottom: .0625rem solid #999;
}
label a{
    display: inline !important;
    margin: 0 !important;
    padding: 0 !important;
    border-bottom: 0 !important;
    vertical-align: bottom !important;
}
h1{
    font-size: 2.25rem;
    font-weight: 200;
}
h2{
    font-weight: 200;
    font-size: 1.875rem;
}
h3{
    font-weight: 200;
    font-size: 1.5rem;
}
strong, p, dt, dd{
    font-weight: 400;
    font-size: 1.125rem;
}
p,dd{
    color: #333;
    line-height: 1.7;
}
strong, p, dt{
    margin: 1rem 0;
}
dt{
    font-weight: 600;
}
small{
    font-size: 65% !important;
    color: #777 !important;
}
input[type=text],
input[type=tel],
input[type=number]{
    border: none;
    border-radius: 0;
    border-bottom: 0.0625rem solid #999;
    font-size : 1.125rem;
    height: 2.95rem;
    box-shadow: none;
    margin: 0.125rem;
}
input[type=text]:focus,
input[type=tel]:focus,
input[type=number]:focus{
    transition: 0.5s;
    border: none;
    border-bottom: 1px solid #ff1b51;
    outline: none;
}
label,
label > span,
label > input{
    vertical-align: middle;
}
textarea{
    width: 100%;
    height: 15rem;
    max-width: 100%;
    font-size : 1.125rem;
    line-height: 2.0;
    padding: 1rem;
}
textarea:focus{
    transition: 0.5s;
    border-color: #ff1b51;
    font-weight: 200;
}

.help,
.info{
    display: block;
    width: 100%;
    /*border: 1px solid #999;*/
    border-radius: 2px;
    padding: 1rem;
    text-align: left;
    margin-bottom: 0.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}
.help{
    border-left: 4px solid #ff1b51;
}
.info{
    border-left: 4px solid #0490ff;
}
.help:first-of-type,
.info:first-of-type
{
    margin-top: 0.5rem;
}
.help > strong,
.info > strong{
    display: block;
    font-weight: bold;
    margin: 0;
}
.help > strong{
    color: #ff1b51;
}
.info > strong{
    color: #0490ff;
}
.help > p,
.info > p{
    color: #666;
    margin: 0;
}
.help > strong+p,
.info > strong+p
{
    margin-top: 1rem;
}
.help p~strong,
.help p~strong{
    margin-top: 1rem;
}
p a{
    display: inline;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    font-size: inherit;
    color: #0070c9;
}

.hr-with-text{
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
}
.hr-with-text > hr{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin: 0.8rem 0;
    border-color: #999;
}
.hr-with-text > span{
    position: relative;
    display: inline-block;
    background-color: #fff;
    color: #999;
    font-size: 1.125rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.init-loading{
    display: block;
    margin: 6.25rem auto;
    text-align: center;
}

.init-loading i{
    font-size: 1.875rem;
}

.init-loading img{
    width: 9.375rem;
    max-width: 90%;
}

.wrap{
    display: block;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

@media all and (max-width: 1100px){
    .wrap{
        padding: 0 1%;
    }
}

.checkbox-with-text{
    display: block;
    padding-left: 0.625rem;
}
.checkbox-with-text input[type=checkbox]{
    margin: 0.3125rem;
}
.checkbox-with-text label{
    font-size: 0.75rem;
}

.image-select{

}
.image-select > figure{

}
.image-select > figure > div{
    display: block;
    position: relative;
    overflow: hidden;
}
.image-select > figure > div > img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.image-select > figure > figcaption{

}
.image-select > button{

}
.image-select > input{
    display: none;
}
.image-select > strong.help{

}

*.ng-enter-active{
    opacity: 0;
}
*.ng-enter{
    opacity: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}