<div class="wrap">
<h2>사운드픽케어 개인정보처리방침</h2>
<hr>
<dl>
<dt>1. 개인정보의 처리 목적</dt>
<dd>
<p><펀클래스>(‘http://care.soundpick.net’이하 ‘사운드픽케어’) 은(는) 다음의 목적을 위하여 개인정보를 처리하고 있으며, 다음의 목적 이외의 용도로는 이용하지 않습니다.</p>
<div class="help">
  <p>- 고객 가입의사 확인, 고객에 대한 서비스 제공에 따른 본인 식별.인증, 회원자격 유지.관리, 물품 또는 서비스 공급에 따른 금액 결제, 물품 또는 서비스의 공급.배송 등</p>
</div>
</dd>
</dl>
<dl>
<dt>2. 개인정보의 처리 및 보유 기간</dt>
<dd>
  <p>① 사운드픽케어는 정보주체로부터 개인정보를 수집할 때 동의 받은 개인정보 보유․이용기간 또는 법령에 따른 개인정보 보유․이용기간 내에서 개인정보를 처리․보유합니다.</p>
  <p>② 구체적인 개인정보 처리 및 보유 기간은 다음과 같습니다.</p>
  <div class="help">
  <p>- 고객 가입 및 관리 : 서비스 이용계약 또는 회원가입 해지시까지, 다만 채권․채무관계 잔존시에는 해당 채권․채무관계 정산시까지</p>
  <p>- 전자상거래에서의 계약․청약철회, 대금결제, 재화 등 공급기록 : 5년</p>
  </div>
</dd>
</dl>
<dl>
<dt>3. 개인정보의 제3자 제공</dt>
<dd>
<p>사운드픽케어는 정보주체의 별도 동의, 법률의 특별한 규정 등 개인정보 보호법 제17조에 해당하는 경우 외에는 개인정보를 제3자에게 제공하지 않습니다.</p>
</dd>
</dl>
<dl>
<dt>4. 개인정보처리 위탁</dt>
<dd>
<p>① 사운드픽케어는 원활한 개인정보 업무처리를 위하여 다음과 같이 개인정보 처리업무를 위탁하고 있습니다.</p>
<div class="help">
<p>- 위탁받는 자 (수탁자) : 없음.</p>
<p>- 위탁하는 업무의 내용 : (수탁자 존재 시) 구매 및 요금 결제, 물품배송 또는 청구서 등 발송, 신규 서비스(제품) 개발 및 맞춤 서비스 제공, 이벤트 및 광고성 정보 제공 및 참여기회 제공</p>
<p>- 위탁기간 : (수탁자 존재 시) 1년</p>
</div>
<p>② 사운드픽케어는 위탁계약 체결 시 개인정보 보호법 제25조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적․관리적 보호조치, 재위탁 제한, 수탁자에 대한 관리․감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.</p>
<p>③ 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다.</p>
</dd>
</dl>
<dl>
<dt>5. 정보주체의 권리,의무 및 그 행사방법</dt>
<dd>
  <p>이용자는 개인정보주체로서 다음과 같은 권리를 행사할 수 있습니다.</p>
  <p>① 사운드픽케어에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.</p>
<div class="help">
<p>1. 개인정보 열람요구</p>
<p>2. 오류 등이 있을 경우 정정 요구</p>
<p>3. 삭제요구</p>
<p>4. 처리정지 요구</p>
<p>6. 처리하는 개인정보의 항목 작성</p>
</div>
<p>① 사운드픽케어는 다음의 개인정보 항목을 처리하고 있습니다.</p>
<div class="help">
<p><서비스 이용을 위한 세션 생성, 이벤트 고지, 접속자 통계></p>
<p>- 필수항목 : 이메일, 이름, 서비스 이용 기록, 접속 로그, 쿠키, 접속 IP 정보</p>
<p>- 선택항목 : 무선전화번호, 주소, 생년월일, 성별, 구매기록 등</p>
</div>
</dd>
</dl>
<dl>
<dt>7. 개인정보의 파기</dt>
<dd>
<p>사운드픽케어는 원칙적으로 개인정보 처리목적이 달성된 경우에는 지체없이 해당 개인정보를 파기합니다. 파기의 절차, 기한 및 방법은 다음과 같습니다.</p>
<div class="help">
<p>-(파기절차) 이용자가 입력했거나 제공에 동의한 정보는 목적 달성 후 별도의 DB에 옮겨져(종이의 경우 별도의 서류) 내부 방침 및 기타 관련 법령에 따라 일정기간 저장된 후 혹은 즉시 파기됩니다. 이 때, DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.</p>
<p>-(파기기한) 이용자의 개인정보는 개인정보의 보유기간이 경과된 경우에는 보유기간의 종료일로부터 5일 이내에, 개인정보의 처리 목적 달성, 해당 서비스의 폐지, 사업의 종료 등 그 개인정보가 불필요하게 되었을 때에는 개인정보의 처리가 불필요한 것으로 인정되는 날로부터 5일 이내에 그 개인정보를 파기합니다.</p>
</div>
</dd>
</dl>
<dl>
<dt>8. 개인정보의 안전성 확보 조치</dt>
<dd>
<p>사운드픽케어는 개인정보보호법 제29조에 따라 다음과 같이 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다.</p>
<div class="help">
<strong>1. 정기적인 자체 감사 실시</strong>
<p>개인정보 취급 관련 안정성 확보를 위해 정기적(분기 1회)으로 자체 감사를 실시하고 있습니다.</p>
<strong>2. 개인정보 취급 직원의 최소화 및 교육</strong>
<p>개인정보를 취급하는 직원을 지정하고 담당자에 한정시켜 최소화 하여 개인정보를 관리하는 대책을 시행하고 있습니다.</p>
<strong>3. 내부관리계획의 수립 및 시행</strong>
<p>개인정보의 안전한 처리를 위하여 내부관리계획을 수립하고 시행하고 있습니다.</p>
<strong>4. 해킹 등에 대비한 기술적 대책</strong>
<p>사운드픽케어는 해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을 설치하고 주기적인 갱신·점검을 하며 외부로부터 접근이 통제된 구역에 시스템을 설치하고 기술적/물리적으로 감시 및 차단하고 있습니다.</p>
<strong>5. 개인정보의 암호화</strong>
<p>이용자의 개인정보는 비밀번호의 경우 별도의 외부 서비스의 인증을 이용하여 본인확인만 실시하므로 별도 저장하지 않고 있으며, 중요한 데이터는 파일 및 전송 데이터를 암호화 하거나 파일 잠금 기능을 사용하는 등의 별도 보안기능을 사용하고 있습니다.</p>
<strong>6. 접속기록의 보관 및 위변조 방지</strong>
<p>개인정보처리시스템에 접속한 기록을 최소 6개월 이상 보관, 관리하고 있으며, 접속 기록이 위변조 및 도난, 분실되지 않도록 보안기능 사용하고 있습니다.</p>
<strong>7. 개인정보에 대한 접근 제한</strong>
<p>개인정보를 처리하는 데이터베이스시스템에 대한 접근권한의 부여,변경,말소를 통하여 개인정보에 대한 접근통제를 위하여 필요한 조치를 하고 있으며 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있습니다.</p>
</div>
</dd>
</dl>
<dl>
  <dt>9. 개인정보 보호책임자 작성</dt>
<dd>
<p>① 사운드픽케어는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.</p>
<div class="help">
<strong>개인정보 보호책임자</strong>
<p>성명 :이가람</p>
<p>직책 :기술총책임</p>
<p>직급 :사원</p>
<p>연락처 :01099239073, popotan90@funclass.net</p>
<p>※ 개인정보 보호 담당부서로 연결됩니다.</p>
<br><br>
<p>▶ 개인정보 보호 담당부서</p>
<p>부서명 :기술부서</p>
<p>담당자 :이가람</p>
<p>연락처 :01099239073, popotan90@gmail.com</p>
</div>
<p>② 정보주체께서는 사운드픽케어의 서비스(또는 사업)을 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자 및 담당부서로 문의하실 수 있습니다. 사운드픽케어는 정보주체의 문의에 대해 지체 없이 답변 및 처리해드릴 것입니다.</p>
</dd>
</dl>
<dl>
  <dt>10. 개인정보 열람청구</dt>
<dd>
  <p>① 정보주체는 개인정보 보호법 제35조에 따른 개인정보의 열람 청구를 아래의 부서에 할 수 있습니다. 사운드픽케어는 정보주체의 개인정보 열람청구가 신속하게 처리되도록 노력하겠습니다.</p>
<div class="help">
<strong>개인정보 열람청구 접수·처리 부서</strong>
<p>부서명 : 대표</p>
<p>담당자 : 윤영주</p>
<p>연락처 : 01043442345, yoon@funclass.net</p>
</div>
<p>② 정보주체께서는 제1항의 열람청구 접수․처리부서 이외에, 행정안전부의 ‘개인정보보호 종합지원 포털’ 웹사이트(www.privacy.go.kr)를 통하여서도 개인정보 열람청구를 하실 수 있습니다.</p>
<div class="help">
  <p>▶ 행정안전부 개인정보보호 종합지원 포털 → 개인정보 민원 → 개인정보 열람등 요구 (본인확인을 위하여 아이핀(I-PIN)이 있어야 함)</p>
</div>
</dd>
</dl>
<dl>
  <dt>11. 개인정보 처리방침 변경</dt>
<dd>
  <p>①이 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.</p>
</dd>
</dl>
</div>